// https://stackoverflow.com/questions/67016460/difference-between-scss-variables-and-css-variables
// https://css-tricks.com/difference-between-types-of-css-variables/
:root {
    --primary-color1: #364555;
    --primary-color2: #536d87;
    --primary-color3: #cfd8d9;
    --primary-font-color: white;
    --header-height: 56px;
    --page-inner-content-padding: 20px;
    --page-inner-sm-content-padding: 100px;
    --carousel-width: 500px;
    --carousel-sm-width: 300px; // --primary-color: #000000;
    // --primary-color: #ffffff;
    .dark {
        --primary-font-color: black;
    }
}