// https://stackoverflow.com/questions/67016460/difference-between-scss-variables-and-css-variables
// https://css-tricks.com/difference-between-types-of-css-variables/
:root {
	--primary-bg-color: #fff;
	--secondary-bg-color: rgb(233, 233, 233);
	--primary-color1: #364555;
	--primary-color2: #536d87;
	--primary-color3: rgba(207, 216, 217, 1);
	--primary-font-color: rgb(0, 0, 0);
	--primary-invert-font-color: white;

	--primary-bg-color: rgb(228, 228, 228);
	--primary-color1: #6700a7;
	--primary-color2: #8800dd;
	--primary-color3: #e8c3ff;
	--primary-font-color: rgb(0, 0, 0);

	--header-height: 56px;
	--page-inner-content-padding: 20px;
	--page-inner-sm-content-padding: 100px;
	--carousel-width: 500px;
	--carousel-sm-width: 300px;
	--background-horizontal-gradient-180: linear-gradient(
		180deg,
		var(--primary-font-color) 0%,
		var(--primary-color3) 100%
	);
	--background-horizontal-gradient-0: linear-gradient(
		0deg,
		var(--primary-font-color) 0%,
		var(--primary-color3) 100%
	);
	--box-shadow-offer-card: 0px 0px 10px 5px rgba(117, 117, 117, 0.71);
	--box-shadow-course-card: 0px 0px 5px 1px rgba(117, 117, 117, 0.5);
	// --animation-time: 2s;

	--active-color: rgb(217, 248, 169);
	--inactive-color: rgb(255 156 166);
	--free-trial-color: rgb(247, 255, 156);

	--deletion-color: #dc3545;
	.dark {
		--primary-font-color: black;
	}
}

$error-color: #dc3545;
