.courses {
    // background-image: url('/assets/pattern.png');
    // background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 20px;
}