<div class="page-inner">
	<h1>{{ 'CourseListPage.title' | translate }}</h1>
	<!-- <div class="page-section" *ngIf="!IsLoaded">
		<app-loader></app-loader>
	</div> -->
	<div class="page-section">
		<div class="page-container filter">
			<div class="coursetype">
				<select class="form-select" name="SortBy" [(ngModel)]="Filter.SortBy" #SortBy="ngModel" (change)="Data.ChangeSort()">
					<option value="" disabled hidden>{{ 'CourseListPage.sortBy' | translate }}</option>
					<option value="newest">{{ 'CourseListPage.newest' | translate }}</option>
					<option value="priceLowtoHigh">{{ 'CourseListPage.priceLowtoHigh' | translate }}</option>
					<option value="priceHightoLow">{{ 'CourseListPage.priceHightoLow' | translate }}</option>
					<option value="highestRated">{{ 'CourseListPage.highestRated' | translate }}</option>
				</select>
			</div>
			<button class="btn btn-primary ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterOffcanvas" aria-controls="filterOffcanvas">
				<i class="fa fa-filter"></i> {{ 'CourseListPage.filter' | translate }}
			</button>

			<app-course-filter [(Filter)]="Filter" (FilterChange)="Data.GetCourses()"></app-course-filter>
		</div>
		<div class="page-section" *ngIf="!IsLoaded">
			<app-loader></app-loader>
		</div>
		<div class="page-container courses" *ngIf="IsLoaded">
			<div *ngFor="let course of Courses">
				<app-course-card [Course]="course" (click)="GotoCourse(course.Id)"></app-course-card>
			</div>
		</div>
		<div class="page-container m-3 text-center" *ngIf="IsLoaded &&Courses.length == 0">{{ 'CourseListPage.noCourses' | translate }}</div>
	</div>
</div>

<!-- <input type="text" class="form-control" id="x" name="x" [(ngModel)]="Filter.SearchInput" #x="ngModel" required /> -->
