.page-inner {
	min-height: calc(100vh - var(--header-height));
	h1 {
		padding-inline-start: var(--page-inner-content-padding);
	}
	.page-section {
		min-height: auto !important;
		flex-direction: column;

		.filters {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			.left {
				display: flex;
				.searchinput {
					display: flex;
				}
				.coursetype {
				}
				.rating {
				}
				.levels {
					display: flex;
				}
			}
			.right {
			}
		}

		.courses {
			// background-image: url('/assets/Images/pattern.png');
			// background-attachment: fixed;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
			grid-auto-rows: minmax(300px, auto);
			grid-gap: 20px;
		}
	}
}
