.page-inner {
	min-height: calc(100vh - var(--header-height));
	h1 {
		padding-inline-start: var(--page-inner-content-padding);
	}
	.page-section {
		min-height: auto !important;
		flex-direction: column;

		// .filters {
		// 	width: 100%;
		// 	// max-width: 600px; // Limits the width for a compact view on larger screens
		// 	display: flex;
		// 	justify-content: space-between;
		// 	align-items: center;

		// 	// flex-wrap: wrap;
		// 	gap: 1rem;
		// 	padding: 1rem;
		// 	// border: 1px solid;
		// 	border-radius: 8px;
		// 	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Adds a subtle shadow for focus

		// 	// Left and right sections as columns, aligned in a responsive manner
		// 	.left,
		// 	.right {
		// 		// flex: 1 1 100%;
		// 		display: flex;
		// 		align-items: flex-end;
		// 		// flex-direction: column;
		// 		gap: 1rem;
		// 		// align-items: stretch;
		// 	}

		// 	.left {
		// 		width: 100%;

		// 		.searchinput {
		// 			display: flex;
		// 			gap: 0.5rem;

		// 			input[type='text'] {
		// 				flex: 1;
		// 				padding: 0.5rem;
		// 				font-size: 0.9rem;
		// 				border: 1px solid #ced4da;
		// 				border-radius: 0.25rem;
		// 			}

		// 			.btn {
		// 				padding: 0.5rem 1rem;
		// 				font-size: 0.9rem;
		// 			}
		// 		}

		// 		.coursetype,
		// 		.rating,
		// 		.levels {
		// 			display: flex;
		// 			flex-direction: column;
		// 			min-height: 60px;
		// 			label {
		// 				font-size: 0.85rem;
		// 			}

		// 			select {
		// 				width: 100%;
		// 				padding: 0.5rem;
		// 				font-size: 0.9rem;
		// 				border: 1px solid #ced4da;
		// 				border-radius: 0.25rem;
		// 			}

		// 			input[type='checkbox'] {
		// 				transform: scale(
		// 					0.9
		// 				); // Scales down the checkbox for compact size
		// 				accent-color: var(--page-inner-content-padding);
		// 			}
		// 		}

		// 		.levels {
		// 			gap: 0.25rem;
		// 			.levels-container {
		// 				display: flex;
		// 				gap: 0.25rem;
		// 				label {
		// 					display: flex;
		// 					align-items: center;
		// 					gap: 0.5rem;
		// 				}
		// 			}
		// 		}

		// 		.coursetype {
		// 			min-width: 150px;
		// 		}
		// 	}

		// 	.right {
		// 		display: flex;
		// 		// flex-direction: row;
		// 		// flex-wrap: wrap;
		// 		// justify-content: space-around;

		// 		.btn {
		// 			// padding: 0.5rem 1rem;
		// 			// font-size: 0.9rem;
		// 			// width: 40%;
		// 		}
		// 	}
		// }
		// @media (max-width: 600px) {
		// 	padding: 1rem;

		// 	.filters {
		// 		flex-direction: column;
		// 		padding: 0.5rem;
		// 		gap: 0.5rem;
		// 		border: none;
		// 		box-shadow: none; // Removes shadow on smaller screens

		// 		.left {
		// 			flex-direction: column;
		// 			align-items: stretch;
		// 			gap: 0;
		// 			.coursetype,
		// 			.rating,
		// 			.levels {
		// 				min-height: 0;
		// 			}

		// 			.searchinput input[type='text'],
		// 			.coursetype select {
		// 				padding: 0.4rem;
		// 				font-size: 0.85rem;
		// 			}
		// 		}
		// 		.right {
		// 			align-items: center;
		// 			width: 100%;

		// 			.btn {
		// 				padding: 0.4rem 0.8rem;
		// 				font-size: 0.85rem;
		// 				width: 100%;
		// 			}
		// 		}
		// 	}
		// }

		.filter {
			justify-content: flex-end;
			display: flex;
			align-items: center;
		}
		.courses {
			// background-image: url('/assets/Images/pattern.png');
			// background-attachment: fixed;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
			grid-auto-rows: minmax(300px, auto);
			grid-gap: 20px;
		}
	}
}
