<div class="page-inner bg-gradient-3">
	<div class="page-section" *ngIf="!IsLoaded">
		<app-loader></app-loader>
	</div>
	<div *ngIf="IsLoaded">
		<h1>{{Course.Name}}</h1>
		<div class="page-section no-min">
			<div class="partition content">
				<div *ngIf="IsJoinClass" class="classes" [@fadeInOut]>
					<h3>classes</h3>
					<ul
						*ngFor="let class of Course.Classes"
						class="class-instance"
						(click)="SelectClass(class)"
						[ngClass]="{'selected-class': SelectedClass && class.Id == SelectedClass.Id}">
						Starts at {{class.StartDate}}
						<br />
						<li *ngFor="let occ of class.ClassOccurances" class="occurance-instance">{{occ.Occurance}}</li>
					</ul>
				</div>

				<p [innerText]="Course.Description"></p>
				<h3>What you'll learn?</h3>
				<p [innerText]="Course.ToBeLearned"></p>
				<h3>Prerequisites</h3>
				<p [innerText]="Course.Prerequisite"></p>
			</div>
			<div class="partition image">
				<img *ngIf="!Course.VideoPath" [src]="Course.ImageUrl" alt="" />
				<!-- [src]="Course.VideoPath | safe" -->
				<!-- "VideoPath": "https://www.youtube.com/embed/qYsHLUAlH_8si=gE0Pdo0We7cmyWmk", -->

				<iframe
					*ngIf="Course.VideoPath"
					[src]="'https://www.youtube.com/embed/' + Course.VideoPath | safe"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen></iframe>
				<span class="instructor">{{Course.Instructor}}</span>
				<div class="rating">
					<span class="rate">{{Course.Rating}} </span>
					<ngb-rating [max]="5" [rate]="Course.Rating " [readonly]="true"></ngb-rating> ({{Course.Raters}})
				</div>
				<div class="price">{{Course.Price | currency}}</div>
				<button href="#" class="btn btn-primary me-2" (click)="JoinClass()" *ngIf="!IsJoinClass">{{ 'Join a class'}}</button>
				<button href="#" class="btn btn-primary me-2" (click)="JoinNow()" *ngIf="IsJoinClass" [disabled]="!SelectedClass">{{ 'Join now'}}</button>
				<a href="#" class="btn btn-outline-primary" [routerLink]="['/',RoutePaths.Course, Course.Id.toString()]">Download Material</a>
				<hr />
			</div>
		</div>
	</div>
</div>
