<div class="page-inner">
	<!-- <app-loader *ngIf="!IsLoaded"></app-loader> -->
	<div class="" *ngIf="IsLoaded">
		<div class="right-section">
			<h6 class="main-title">Dashboard</h6>
			<p class="sub-title">Courses &nbsp;>&nbsp; {{Course.Name}}</p>
			<div class="card bg-dark text-white">
				<img [src]="Course.ImageUrl" class="card-img" alt="..." height="275px" />
				<div class="btn-header">
					<i class="fa fa-pencil-square-o btn-custom" aria-hidden="true" (click)="openEditModal(ModalPropertyEnum.CourseInfo)"></i>
				</div>
				<div class="card-img-overlay">
					<h5 class="card-title">{{Course.Name}}</h5>
					<p class="card-text">{{Course.Description.substring(0, 200) + '...'}}</p>
					<p class="card-text">${{Course.Price}}</p>
				</div>
			</div>
			<div class="group">
				<div class="left-group">
					<div class="course-overview section">
						<div class="row-custom">
							<h6 class="title">Course Overview</h6>
							<i
								class="fa fa-pencil-square-o btn-custom"
								aria-hidden="true"
								(click)="openEditModal(ModalPropertyEnum.CourseOverview, 'Description')"></i>
						</div>
						<p class="text">{{Course.Description}}</p>
					</div>
					<div class="skills section">
						<div class="row-custom">
							<h6 class="title">To Be Learned</h6>
							<i
								class="fa fa-pencil-square-o btn-custom"
								aria-hidden="true"
								(click)="openEditModal(ModalPropertyEnum.ToBeLearned, 'ToBeLearned')"></i>
						</div>
						<p class="text">{{Course.ToBeLearned}}</p>
					</div>
					<div class="prerequisites section">
						<div class="row-custom">
							<h6 class="title">Prerequisites</h6>
							<i
								class="fa fa-pencil-square-o btn-custom"
								aria-hidden="true"
								(click)="openEditModal(ModalPropertyEnum.Prerequisites, 'Prerequisite')"></i>
						</div>
						<p class="text">{{Course.Prerequisite}}</p>
					</div>
					<div class="sections section">
						<div class="row-custom">
							<h6 class="title">Classes</h6>
							<i class="fa fa-plus btn-custom" aria-hidden="true" (click)="openEditModal(ModalPropertyEnum.Class,'',false)"></i>
						</div>
						<div class="accordion" id="accordionExample">
							<div class="accordion-item" *ngFor="let class of Course.Classes | slice:0:ClassesCounter.end ; let i = index">
								<h2 class="accordion-header" id="{{'heading' + i}}">
									<button
										class="accordion-button"
										type="button"
										data-bs-toggle="collapse"
										[attr.data-bs-target]="'#collapse' + i"
										aria-expanded="false"
										[attr.aria-controls]="'#collapse' + i">
										{{'Class ' + class.Id}}
									</button>
									<i class="fa fa-pencil btn-more" aria-hidden="true" (click)="openEditModal(ModalPropertyEnum.Class, i.toString())"></i>
								</h2>
								<div
									id="{{'collapse' + i}}"
									class="accordion-collapse collapse"
									[attr.aria-labelledby]="'heading' + i"
									data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="class">
											<p>Duration</p>
											<small>{{class.StartDate}} - {{class.EndDate}}</small>
										</div>
										<div class="class">
											<p>Capacity</p>
											<small>{{class.MaxCapacity}}</small>
										</div>
										<div class="class">
											<p>Period</p>
											<small>{{class.Period}}</small>
										</div>
										<div class="class">
											<p>Current Index</p>
											<small>{{class.CurrentIndex}}</small>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row-custom">
							<button class="btn btn-light" (click)="getClasses()">Load More Classes</button>
						</div>
					</div>
				</div>
				<div class="right-group">
					<div class="info section">
						<div class="row-custom">
							<h6 class="title">Upcoming Sessions</h6>
						</div>
						<div class="list-group">
							<div class="session">
								<p class="mb-1">S1</p>
								<small>03/10/2024</small>
							</div>
							<div class="session">
								<p class="mb-1">S2</p>
								<small>03/10/2024</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
