<div class="page-inner">
	<app-loader *ngIf="!IsLoaded"></app-loader>
	<div class="" *ngIf="IsLoaded">
		<div class="right-section">
			<h6 class="main-title">{{ 'CourseDetailsPage.dashboard' | translate }}</h6>
			<p class="sub-title">
				<a [routerLink]="['/',RoutePaths.Dashboard,RoutePaths.Courses]">{{ 'CourseDetailsPage.courses' | translate }}</a> &nbsp;>&nbsp;
				<a class="current">{{Course.Name}}</a>
			</p>

			<div class="card bg-dark text-white">
				<img *ngIf="Course.ImageUrl" [src]="Course.ImageUrl || '/assets/Images/white-full-logo.png'" class="card-img" alt="no image" height="275px" />
				<div *ngIf="!Course.ImageUrl" class="card-img"></div>
				<div class="btn-header" (click)="openEditModal(ModalPropertyEnum.CourseInfo)">
					<i class="fa fa-pencil-square-o btn-custom" aria-hidden="true"></i>
				</div>
				<div class="card-img-overlay">
					<h5 class="card-title">
						{{Course.Name}}
						<span class="status active" *ngIf="Course.IsActive" title="{{ 'CourseDetailsPage.active' | translate }}"
							><i class="fa fa-check" aria-hidden="true"></i
						></span>
						<span class="status inactive" *ngIf="!Course.IsActive" title="{{ 'CourseDetailsPage.inactive' | translate }}"
							><i class="fa fa-times" aria-hidden="true"></i
						></span>
					</h5>
					<!-- <p class="card-text" *ngIf="Course.Description">{{Course.Description.substring(0, 200) + '...'}}</p> -->
					<p class="card-text" *ngIf="Course.Price">${{Course.Price}}</p>

					<div class="meta">
						<p class="card-text">
							<span class="title">{{ 'CourseDetailsPage.starts' | translate }}:</span> {{Course.StartDate | date: 'EEEE, dd/MM/yyyy'}}
						</p>

						<div class="create-update">
							<p class="card-text">
								<span class="title"> {{ 'CourseDetailsPage.createdOn' | translate }}: </span>
								{{Course.CreatedOn | date: 'EEEE, dd/MM/yyyy, hh:mm a'}}
							</p>
							<p class="card-text" *ngIf="Course.CreatedOn != Course.UpdatedOn">
								<span class="title"> {{ 'CourseDetailsPage.lastUpdatedOn' | translate }}: </span>
								{{Course.UpdatedOn | date: 'EEEE, dd/MM/yyyy, hh:mm a'}}
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="group">
				<div class="left-group">
					<div class="course-overview section">
						<div class="row-custom">
							<h6 class="title">{{ 'CourseDetailsPage.courseOverview' | translate }}</h6>
							<i
								class="fa fa-pencil-square-o btn-custom"
								aria-hidden="true"
								(click)="openEditModal(ModalPropertyEnum.CourseOverview, 'Description')"></i>
						</div>
						<p class="text">{{Course.Description}}</p>
						<p class="no-data" *ngIf="!Course.Description">{{ 'CourseDetailsPage.noDescription' | translate }}</p>
					</div>

					<div class="skills section">
						<div class="row-custom">
							<h6 class="title">{{ 'CourseDetailsPage.toBeLearned' | translate }}</h6>
							<i
								class="fa fa-pencil-square-o btn-custom"
								aria-hidden="true"
								(click)="openEditModal(ModalPropertyEnum.ToBeLearned, 'ToBeLearned')"></i>
						</div>
						<p class="text">{{Course.ToBeLearned}}</p>
						<p class="no-data" *ngIf="!Course.ToBeLearned">{{ 'CourseDetailsPage.noData' | translate }}</p>
					</div>

					<div class="prerequisites section">
						<div class="row-custom">
							<h6 class="title">{{ 'CourseDetailsPage.prerequisites' | translate }}</h6>
							<i
								class="fa fa-pencil-square-o btn-custom"
								aria-hidden="true"
								(click)="openEditModal(ModalPropertyEnum.Prerequisites, 'Prerequisite')"></i>
						</div>
						<p class="text">{{Course.Prerequisite}}</p>
						<p class="no-data" *ngIf="!Course.Prerequisite">{{ 'CourseDetailsPage.noPrerequisites' | translate }}</p>
					</div>

					<div class="sections section">
						<div class="row-custom">
							<h6 class="title">{{ 'CourseDetailsPage.classes' | translate }}</h6>
							<i class="fa fa-plus btn-custom" aria-hidden="true" (click)="openEditModal(ModalPropertyEnum.Class,'',false)"></i>
						</div>
						<p class="no-data" *ngIf="Course.Classes.length == 0">{{ 'CourseDetailsPage.noClasses' | translate }}</p>

						<div class="accordion" id="accordionExample">
							<div class="accordion-item" *ngFor="let class of Course.Classes | slice:0:ClassesCounter.end ; let i = index">
								<h2 class="accordion-header" id="{{'heading' + i}}">
									<button
										class="accordion-button collapsed"
										type="button"
										data-bs-toggle="collapse"
										[attr.data-bs-target]="'#collapse' + i"
										aria-expanded="false"
										[attr.aria-controls]="'#collapse' + i">
										{{ class.Name}}
										<span class="status active" *ngIf="class.IsActive" title="{{ 'CourseDetailsPage.active' | translate }}"
											><i class="fa fa-check" aria-hidden="true"></i
										></span>
										<span class="status inactive" *ngIf="!class.IsActive" title="{{ 'CourseDetailsPage.inactive' | translate }}"
											><i class="fa fa-times" aria-hidden="true"></i
										></span>
										<a [routerLink]="[RoutePaths.Class, class.Id]">{{ 'CourseDetailsPage.goToClass' | translate }}</a>
									</button>
									<i class="fa fa-pencil btn-more" aria-hidden="true" (click)="openEditModal(ModalPropertyEnum.Class, i.toString())"></i>
								</h2>
								<div id="{{'collapse' + i}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i">
									<!-- data-bs-parent="#accordionExample" -->
									<div class="accordion-body">
										<div class="class">
											<p>{{ 'CourseDetailsPage.duration' | translate }}</p>

											<small>
												{{class.StartDate | date: 'EEEE, dd/MM/yyyy, hh:mm a'}} - {{class.EndDate | date: 'EEEE, dd/MM/yyyy, hh:mm a'}}
											</small>
										</div>
										<div class="class">
											<p>{{ 'CourseDetailsPage.capacity' | translate }}</p>
											<small>{{class.MaxCapacity}}</small>
										</div>

										<div class="class">
											<!-- <p>{{ 'CourseDetailsPage.period' | translate }}</p> -->

											<!-- <div class="class">
											<p>Period</p>

											<small>{{class.Period}}</small>
										</div> -->
											<div class="class">
												<p>{{ 'CourseDetailsPage.currentSession' | translate }}</p>
												<small>{{class.CurrentIndex}}</small>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row-custom" *ngIf="Course.Classes.length > ClassesCounter.end">
								<button class="btn btn-light" (click)="getClasses()">{{ 'CourseDetailsPage.loadMoreClasses' | translate }}</button>
							</div>
						</div>
					</div>
				</div>
				<div class="right-group">
					<div class="video section">
						<div class="row-custom">
							<h6 class="title">{{ 'CourseDetailsPage.courseVideo' | translate }}</h6>
							<i class="fa fa-pencil-square-o btn-custom" aria-hidden="true" (click)="openEditModal(ModalPropertyEnum.Video, 'VideoPath')"></i>
						</div>
						<p class="no-data" *ngIf="!Course.VideoPath">{{ 'CourseDetailsPage.noVideo' | translate }}</p>
						<div class="video-container">
							<iframe
								*ngIf="Course.VideoPath"
								[src]="'https://www.youtube.com/embed/' + Course.VideoPath.split('=')[1] | safe"
								title="YouTube video player"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								allowfullscreen></iframe>
						</div>
					</div>

					<div class="material section">
						<div class="row-custom">
							<h6 class="title">{{ 'CourseDetailsPage.courseSampleMaterial' | translate }}</h6>
							<i
								class="fa fa-pencil-square-o btn-custom"
								aria-hidden="true"
								(click)="openEditModal(ModalPropertyEnum.CourseSampleMaterial, 'FreeFilePath')"></i>
							<i class="fa fa-download btn-custom" aria-hidden="true" (click)="downloadMaterial(Course.FreeFilePath)"></i>
						</div>
						<p class="text" *ngIf="Course.FilePath">{{Course.FreeFilePath.split('/').pop()?.replace(".sample","")}}</p>
						<p class="no-data" *ngIf="!Course.FilePath">{{ 'CourseDetailsPage.noMaterial' | translate }}</p>
					</div>

					<div class="material section">
						<div class="row-custom">
							<h6 class="title">{{ 'CourseDetailsPage.courseMaterial' | translate }}</h6>
							<i
								class="fa fa-pencil-square-o btn-custom"
								aria-hidden="true"
								(click)="openEditModal(ModalPropertyEnum.CourseMaterial, 'FilePath')"></i>
							<i class="fa fa-download btn-custom" aria-hidden="true" (click)="downloadMaterial(Course.FilePath)"></i>
						</div>
						<p class="text" *ngIf="Course.FilePath">{{Course.FilePath.split('/').pop()}}</p>
						<p class="no-data" *ngIf="!Course.FilePath">{{ 'CourseDetailsPage.noMaterial' | translate }}</p>
					</div>

					<!-- <div class="info section">
						<div class="row-custom">
							<h6 class="title">{{ 'CourseDetailsPage.upcomingSessions' | translate }}</h6>
						</div>
						<div class="list-group">
							<div class="session" *ngFor="let session of UpcomingSessions">
								<p class="mb-1">{{ 'CourseDetailsPage.class' | translate }} {{session.class}}</p>
								<small>{{session.date}}</small>
							</div>
							<p class="no-data" *ngIf="UpcomingSessions.length == 0">{{ 'CourseDetailsPage.noUpcomingSessions' | translate }}</p>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
