.page-section {
	// min-height: calc(100vh - var(--header-height) - 100.5px) !important;
	align-items: flex-start !important;
	padding: 1rem 0;

	.left-section {
		width: 20%;
		padding: 0;
		border-radius: 5px;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
		display: flex;
		justify-content: center;
		background-color: #f7f6f6;

		ul {
			border: none;
			width: 100%;

			a {
				color: var(--primary-color1) !important;
				padding: 1rem 2rem;
				margin-top: 0;

				border-radius: 5px;
				&:hover.nav-link {
					color: white !important;
					background-color: var(--primary-color2);
					opacity: 0.7;
					border-radius: 0;
				}
				&.active.nav-link {
					color: white !important;
					background-color: var(--primary-color2);
					border-radius: 0;
				}
			}
		}
	}

	.right-section {
		width: 77%;
		padding: 1rem;
		border-radius: 5px;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: #f7f6f6;

		.btn-header {
			opacity: 0;
			transition: 0.08s;
			cursor: pointer;
			position: absolute;
			top: 5%;
			right: 2%;
			background-color: #f8f9fa;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;

			i.btn-custom {
				color: var(--primary-color1);
				font-size: 1.1rem;
			}

			&:hover {
				background-color: rgba(247, 249, 250, 0.7);
			}
		}

		div:hover .btn-header {
			opacity: 1;
		}

		.card {
			border: none;
			border-radius: 10px;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				height: 100%;
				width: 100%;
				background: linear-gradient(45deg, #000000, transparent);
				z-index: 0;
				opacity: 0.7;
				border-radius: 10px;
			}

			img {
				border-radius: 10px;
				object-fit: cover;
			}

			.card-img-overlay {
				top: auto;
			}
		}

		.group {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			.section {
				margin: 0.75rem 0;
				padding: 1rem;
				border-radius: 10px;
				background: rgb(230 230 230 / 50%);
			}

			.left-group {
				width: 72%;
				i.btn-custom {
					opacity: 0;
					transition: 0.08s;

					&:hover {
						color: rgba(83, 83, 83, 0.7);
					}
				}

				div:hover i {
					opacity: 1;
				}

				.accordion {
					.accordion-item {
						margin: 1rem 0;
						border: none;
						border-radius: 10px;

						.accordion-body {
							padding: 0.5rem 1.25rem;

							.class:last-child {
								margin-bottom: 0;
							}

							.class:first-child {
								margin-top: 0;
							}
						}

						button {
							border-radius: 10px;
							outline: none;
							padding: 0.75rem;
							font-size: 0.9rem;
							font-weight: 500;

							&:focus {
								border: none;
								box-shadow: none;
							}
						}
					}

					.accordion-button:not(.collapsed) {
						background-color: transparent;
						box-shadow: none;
						color: inherit;
					}
				}
			}

			.right-group {
				width: 26%;

				.session {
					border: 1px solid rgba(131, 131, 131, 0.2);
					border-radius: 20px;
					padding: 0.5rem 1rem;
					margin: 0.75rem 0;
					display: flex;
					align-items: center;
					justify-content: space-between;

					p {
						font-size: 0.9rem;
						font-weight: 500;
					}
				}
			}

			.row-custom {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.btn-custom {
				color: var(--primary-color1);
				cursor: pointer;
				margin-bottom: 8px;
				font-size: 1.1rem;
			}

			.class {
				margin: 0.75rem 0;
				display: flex;
				align-items: center;
				justify-content: space-between;

				p {
					font-size: 0.85rem;
					font-weight: 500;
					margin: 0;
				}

				small {
					font-size: 0.85rem;
					opacity: 0.8;
				}
			}
		}
	}
}

.accordion-button::after {
	/* Your custom styles for the icon */
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg>');
	background-color: #8080802e;
	border-radius: 3px;
}

.accordion-button:not(.collapsed)::after {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16"><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/></svg>');
	background-color: #8080802e;
	border-radius: 3px;
}
