.page-inner {
	min-height: calc(100vh - var(--header-height));
	h1 {
		padding-inline-start: var(--page-inner-content-padding);
	}

	.page-section {
		justify-content: flex-start;
	}

	.fa-envelope {
		color: var(--mail-color);
	}

	.fa-phone {
		color: var(--call-color);
		margin-inline-end: 10px;
	}

	.fa-whatsapp {
		color: var(--whatsapp-color);
	}
}
