@import './Scroll.scss';
@import './SafeArea.scss';

body {
	scroll-behavior: smooth;
}

.inner-container {
	width: 100%;
	background-color: var(--primary-bg-color);
	.page-master {
		width: 100%;
		min-height: 100vh;
		app-header {
			display: block;
			height: var(--header-height);
		}
		.page-inner {
			animation: initial-transition 0.3s ease-in-out;
			color: var(--primary-color1);
			max-width: 1200px;
			margin: auto;
			.page-section {
				min-height: calc(100vh - var(--header-height));
				&.no-min {
					min-height: auto;
				}
				position: relative;
				display: flex;
				justify-content: space-around;
				align-items: center;
				&.column {
					flex-direction: column;
				}
				/*#region  left and right partitions with overlay */
				.partition {
					padding: var(--page-inner-content-padding);
				}
				.content {
					display: flex;
					flex-direction: column;
					width: 50%;
					height: 100%;
					font-weight: 600;
					font-size: 18px;
					min-width: 300px;
					// text-align: justify;
					// background-color: lightcoral;
					h1 {
						text-align: start;
					}
				}
				.graphics {
					display: flex;
					align-items: center;
					justify-content: center;
					// width: 100%;
					.image {
						max-height: calc(
							100vh - var(--header-height) -
								(2 * var(--page-inner-content-padding))
						);
						max-width: 100%;
					}
					// background-color: lightcyan;
				}
				/*#endregion */
				/*region one div with background image*/
				.page-container {
					width: 100%;
					height: 100%;
					padding: var(--page-inner-content-padding);
				}
				/*endregion*/
			}
		}
	}
}

//modal custom style
.course-modal {
	width: 70%;
	max-width: 70%;
}

// small screens
@media (max-width: 576px) {
	.inner-container {
		.page-master {
			.page-inner {
				.page-section {
					flex-wrap: wrap;
					.content {
						width: 100%;
						position: absolute;
						z-index: 2;
						// padding-top: var(--page-inner-sm-content-padding);
					}
					.graphics {
						opacity: 0.3;
					}
					.image {
					}
				}
			}
		}
	}
}

@keyframes initial-transition {
	from {
		transform: translateX(-20px);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
