<div class="card">
	<img class="card-img-top" [src]="Course.ImageUrl" alt="Card image cap" />
	<div class="card-body">
		<h5 class="card-title">{{Course.Name}}</h5>
		<span class="instructor">
			<!-- <span class="initials">{{Constants.GetInitialName(Course.Instructor.User.FirstName, Course.Instructor.User.LastName)}}</span> -->
			<p>By: {{Course.Instructor.User.FirstName + ' ' + Course.Instructor.User.LastName}}</p>
		</span>
		<!-- <p class="card-text">{{Course.Description}}</p> -->
		<div class="rating">
			<span class="rate" *ngIf="Course.Rating">{{Course.Rating}} / 5 </span>
			<span class="rate" *ngIf="!Course.Rating">N/A </span>

			<!-- <ngb-rating [max]="5" [rate]="Course.Rating" [readonly]="true"></ngb-rating> ({{Course.Raters}}) -->
			<app-StarRating [Rate]="Course.Rating" [ReadOnly]="true"></app-StarRating> ({{Course.Raters}})
		</div>
		<div class="price"><span class="price-before">{{Course.PriceBeforeDiscount | currency}}</span> {{Course.Price | currency}}</div>
		<!-- <a href="#" class="btn btn-primary" [routerLink]="['/',RoutePaths.Course, Course.Id.toString()]">Go somewhere</a> -->
	</div>
</div>
