<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" [routerLink]="['home']" class="logo">
			<img src="/assets/full-logo.png" alt="logo-img" class="logo-img" />
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a
						class="nav-link"
						aria-current="page"
						[routerLink]="['home']"
						routerLinkActive="active"
						data-bs-toggle="collapse"
						data-bs-target=".navbar-collapse.show">
						Home
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['about']" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
						>About</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['courses']" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
						Courses
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['feedback']" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
						Feedback
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['contactus']" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
						Contact
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['founder']" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
						Founder
					</a>
				</li>
			</ul>
		</div>

		<!-- user popup -->
		<button
			type="button"
			class="profile-pic"
			data-bs-toggle="collapse"
			data-bs-target=".navbar-collapse.show"
			[ngbPopover]="popContent"
			container="body"
			popoverClass="user-popover">
			<img [src]="CurrentUser.ProfilePicturePath?? 'assets/default-pp.png'" alt="User Profile" data-toggle="dropdown" />
		</button>
		<ng-template #popContent>
			<div class="greeting">
				<strong> Hello, </strong>
				<span>{{CurrentUser.FirstName}} {{ CurrentUser.LastName}}</span>
				<!-- <button class="dropdown-item" (click)="goToProfile()">Profile</button> -->
			</div>
			<hr />
			<!-- <button class="dropdown-item" (click)="goToSettings()">Settings</button> -->
			<button class="btn btn-danger btn-sm" (click)="signOut()">Sign Out</button>
		</ng-template>
	</div>
</nav>
