.container {
	text-align: center;
	background-color: #fff;
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 550px;
	width: 90%;

	.thank-you-message {
		h1 {
			font-size: 2em;
			color: #333;
			margin-bottom: 15px;
		}
		p {
			font-size: 1em;
			color: #666;
			margin-bottom: 20px;
			line-height: 1.6;
		}
	}
}
