<!-- http://localhost:4200/success?session_id=cs_test_a1yOYdpMI062Dpr9sDBw5PgOPxVmc4uEM1srnU3QIP3rby4MBRLHdwkEH7 -->

<div class="page-inner">
	<div class="page-section">
		<div class="container">
			<div class="thank-you-message">
				<h1>{{ 'Checkout.thanks' | translate }}</h1>
				<p>
					<strong>{{ 'Checkout.refrenceNumber' | translate }}</strong> <br />
					{{ referenceNumber }}
					<button class="btn" [title]="'Checkout.copyRefrenceNumber' | translate" (click)="copyRefrenceNumber()">
						<i class="fa fa-copy"></i>
					</button>
				</p>
				<p>
					{{ 'Checkout.p_1' | translate }}
				</p>
				<p>{{ 'Checkout.p_2' | translate }}</p>
				<a [routerLink]="['/', RoutePaths.Dashboard, RoutePaths.Classes]" class="btn btn-primary">{{ 'Checkout.link' | translate }}</a>
			</div>
		</div>
	</div>
</div>
