<div class="right-section">
	<h6 class="title">{{ 'Courses.dashboard' | translate }}</h6>

	<div class="row-custom">
		<p class="sub-title">{{ 'Courses.classes' | translate }}</p>
		<a class="btn btn-primary" [routerLink]="['/','courses']">{{ 'Courses.browseCourses' | translate }}</a>
	</div>

	<div class="courses-container row">
		<app-loader *ngIf="!IsLoaded"></app-loader>
		<div class="card" *ngFor="let userClass of UserClasses; let i = index">
			<div class="card-body">
				<h3>
					<a [routerLink]="['/',RoutePaths.Course, userClass.Class.Course.Id]">{{userClass.Class.Course.Name}}</a>
				</h3>
				<div class="upper-section">
					<h5 class="card-title">{{userClass.Class.Name}}</h5>
					<div class="status-wrap">
						<!-- <span class="status active" *ngIf="userClass.Class.IsActive">{{ 'Courses.active' | translate }}</span> -->
						<!-- <span class="status inactive" *ngIf="!userClass.Class.IsActive">{{ 'Courses.inactive' | translate }}</span> -->
						<span class="status active" *ngIf="userClass.Class.CurrentIndex != userClass.Class.NumberOfSessions">
							{{ 'Courses.active' | translate }}
						</span>
						<span class="status inactive" *ngIf="userClass.Class.CurrentIndex == userClass.Class.NumberOfSessions">
							{{ 'Courses.completed' | translate }}
						</span>
						<span class="status free-trial" *ngIf="!userClass.IsPaid"> {{ 'Courses.freeTrial' | translate }} </span>
					</div>
				</div>
				<div>
					<div class="next-session" *ngIf="userClass.Class.CurrentIndex < userClass.Class.NumberOfSessions">
						<strong>{{Constants.getOrdinalNumber(userClass.Class.CurrentIndex)}}</strong>
						{{ 'Courses.nextSession' | translate}}
						<strong>{{userClass.Class.LiveSessions[userClass.Class.CurrentIndex].StartDate | date: 'EEEE, dd/MM/yyyy, hh:mm a'}}</strong>
					</div>

					<div>
						{{ 'Courses.sessions' | translate }}: #{{userClass.Class.NumberOfSessions}}
						<a class="show-sessions" (click)="showSessions($event, i)"
							>{{userClass.Class.ShowSessions ? ('Courses.hideSessions' | translate) : ('Courses.showSessions' | translate)}}</a
						>
					</div>

					<ol *ngIf="userClass.Class.ShowSessions" [@fadeInOut]>
						<li
							*ngFor="let occ of userClass.Class.LiveSessions; index as i"
							class="session-instance"
							[ngClass]="{'done': i < userClass.Class.CurrentIndex}">
							{{occ.StartDate | date: 'EEEE, dd/MM/yyyy, hh:mm a'}}
						</li>
					</ol>
				</div>
				<div class="middle-section">
					<div class="instructor">
						<!-- <span class="initials"> {{Constants.GetInitialName(userClass.Class.Course.Instructor.User.FirstName, userClass.Class.Course.Instructor.User.LastName)}} 	</span>
						<p>{{userClass.Class.Course.Instructor.User.FirstName + ' ' + userClass.Class.Course.Instructor.User.LastName}}</p> -->
						<p>By: {{userClass.Class.Course.Instructor.User.FirstName + ' ' + userClass.Class.Course.Instructor.User.LastName}}</p>
					</div>

					<small>
						<ng-container *ngIf="!userClass.Class.CurrentIndex">{{ 'Courses.startsOn' | translate }}</ng-container>
						<ng-container *ngIf="userClass.Class.CurrentIndex">{{ 'Courses.startedOn' | translate }}</ng-container>
						{{userClass.Class.StartDate | date: 'dd/MM/YYYY'}}
					</small>
				</div>
				<div class="lower-section">
					<div class="d-flex flex-column">
						<app-StarRating [Rate]="getCourseRating(userClass.Class.CourseId)" [ReadOnly]="true"></app-StarRating>
						<a class="rate-link" (click)="openFeedbackModal(UserRatings[userClass.Class.CourseId],  userClass.Class.CourseId)">
							{{(!UserRatings[userClass.Class.CourseId] ? 'Leave a rating' : 'your rating') | translate }}
						</a>
					</div>
					<span>
						<i class="fa fa-usd" aria-hidden="true"></i>
						<small class="ps-2">{{userClass.Class.Course.Price || '0'}}</small>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
