.right-section {
	.title {
		font-weight: 700;
		font-size: 1.1rem;
		margin-bottom: 1.25rem;
		letter-spacing: 0.35px;
	}

	.sub-title {
		font-weight: 600;
		font-size: 1.1rem;
		letter-spacing: 0.35px;
		margin: 0;
	}

	.row-custom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.courses-container {
		display: flex;
		// align-items: stretch;
		// justify-content: center;
		width: 100%;

		app-loader {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
		}

		.card {
			margin: 0.75rem;
			// width: 45%;
			min-height: 210px;
			border: none;
			border-radius: 10px;
			background-color: var(--card-bg-color);

			a {
				cursor: pointer;
			}

			.upper-section {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;

				.card-title {
					font-size: 1.1rem;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}

				.status {
					border-radius: 15px;
					font-size: 0.7rem;
					padding: 0.05rem 0.7rem;
					background-color: var(--active-color);
					margin-bottom: 8px;

					&.inactive {
						background-color: var(--inactive-color);
					}
					&.free-trial {
						background-color: var(--free-trial-color);
					}
				}
			}

			.sessions {
				.next-session {
					display: flex;
					flex-direction: column;
				}

				ol {
					margin: 0;
					.session-instance {
						&.done {
							text-decoration: line-through;
						}
					}
				}
			}

			.middle-section {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
			}

			.lower-section {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				.left {
					display: flex;
					flex-direction: column;
					.fa-eur {
						font-size: 14px;
					}
				}
				.dates {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
				}
			}
		}
	}
}
