<div class="right-section">
	<h6 class="title">{{ 'Courses.dashboard' | translate }}</h6>

	<div class="row-custom">
		<p class="sub-title">{{ 'Courses.classes' | translate }}</p>
		<a class="btn btn-primary" [routerLink]="['/','courses']">{{ 'Courses.browseCourses' | translate }}</a>
	</div>

	<div class="courses-container row">
		<app-loader *ngIf="!IsLoaded"></app-loader>
		<div class="card" *ngFor="let userClass of UserClasses; let i = index">
			<div class="card-body">
				<h5>
					<a [routerLink]="['/',RoutePaths.Course, userClass.Class.Course.Id]">{{userClass.Class.Course.Name}}</a>
				</h5>
				<div class="upper-section">
					<h5 class="card-title">{{userClass.Class.Name}}</h5>
					<div class="status-wrap">
						<!-- <span class="status active" *ngIf="userClass.Class.IsActive">{{ 'Courses.active' | translate }}</span> -->
						<!-- <span class="status inactive" *ngIf="!userClass.Class.IsActive">{{ 'Courses.inactive' | translate }}</span> -->
						<span class="status active" *ngIf="userClass.Class.CurrentIndex != userClass.Class.NumberOfSessions">
							{{ 'Courses.active' | translate }}
						</span>
						<span class="status inactive" *ngIf="userClass.Class.CurrentIndex == userClass.Class.NumberOfSessions">
							{{ 'Courses.completed' | translate }}
						</span>
						<span class="status free-trial" *ngIf="!userClass.IsPaid"> {{ 'Courses.freeTrial' | translate }} </span>
					</div>
				</div>
				<div class="middle-section">
					<div class="sessions">
						<div class="next-session" *ngIf="userClass.Class.CurrentIndex < userClass.Class.NumberOfSessions">
							<strong>{{ 'Courses.upNext' | translate}}</strong>
							<div>
								<strong>{{Constants.getOrdinalNumber(userClass.Class.CurrentIndex)}}</strong>
								{{ 'Courses.nextSession' | translate}}
								<strong
									>{{userClass.Class.LiveSessions[userClass.Class.CurrentIndex].StartDate | date: 'EEEE, dd/MM/yyyy' + ('TIME_FORMAT' |
									translate)}}</strong
								>
							</div>
						</div>

						<!-- <strong>{{ 'Courses.sessions' | translate }}:</strong> #{{userClass.Class.NumberOfSessions}} -->
						<a (click)="showSessions($event, i)" class="btn btn-sm btn-primary">
							{{userClass.Class.ShowSessions ? ('Courses.hideSessions' | translate) : ('Courses.showSessions' | translate)}}
						</a>

						<ol *ngIf="userClass.Class.ShowSessions" [@fadeInOut]>
							<li
								*ngFor="let occ of userClass.Class.LiveSessions; index as i"
								class="session-instance"
								[ngClass]="{'done': i < userClass.Class.CurrentIndex}">
								{{occ.StartDate | date: 'EEEE, dd/MM/yyyy' + ('TIME_FORMAT' | translate)}}
							</li>
						</ol>
					</div>
				</div>
				<div class="lower-section">
					<div class="left">
						<span>
							<strong>{{ 'Courses.price' | translate}}</strong>

							<small class="ps-2">{{userClass.Class.Course.Price || '0'}}</small>
							<i class="fa fa-eur"></i>
						</span>
						<div>
							<strong>{{ 'Courses.by' | translate}}</strong>
							{{userClass.Class.Course.Instructor.User.FirstName + ' ' + userClass.Class.Course.Instructor.User.LastName}}
						</div>
					</div>
					<div class="dates">
						<small><strong>{{ 'Courses.JoinedOn' | translate }}</strong> {{userClass.CreatedOn | date: 'dd/MM/YYYY'}} </small>
						<small>
							<strong
								><ng-container *ngIf="!userClass.Class.CurrentIndex">{{ 'Courses.startsOn' | translate }}</ng-container>
								<ng-container *ngIf="userClass.Class.CurrentIndex">{{ 'Courses.startedOn' | translate }}</ng-container>
							</strong>
							{{userClass.Class.StartDate | date: 'dd/MM/YYYY'}}
						</small>
						<div class="d-flex">
							<a class="me-1" (click)="openFeedbackModal(UserRatings[userClass.Class.CourseId],  userClass.Class.CourseId, userClass.IsPaid)">
								<small>{{(!UserRatings[userClass.Class.CourseId] ? 'Courses.rate' : 'Courses.editRate') | translate }}</small>
							</a>
							<app-StarRating [Rate]="getCourseRating(userClass.Class.CourseId)" [ReadOnly]="true"></app-StarRating>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
