<div class="right-section">
	<h6 class="title">{{ 'Courses.dashboard' | translate }}</h6>

	<div class="row-custom">
		<p class="sub-title">{{ 'Courses.classes' | translate }}</p>
		<a class="btn btn-primary" [routerLink]="['/','courses']">{{ 'Courses.browseCourses' | translate }}</a>
	</div>

	<div class="courses-container row">
		<app-loader *ngIf="!IsLoaded"></app-loader>
		<div class="card" *ngFor="let class of ClassesByUser; let i = index">
			<div class="card-body">
				<h3>{{class.Course.Name}}</h3>
				<div class="upper-section">
					<h5 class="card-title">{{class.Name}}</h5>
					<span class="status active" *ngIf="class.IsActive">{{ 'Courses.active' | translate }}</span>
					<span class="status inactive" *ngIf="!class.IsActive">{{ 'Courses.inactive' | translate }}</span>
				</div>
				<div>
					<strong>{{Constants.getOrdinalNumber(class.CurrentIndex)}}</strong>
					{{ 'Courses.nextSession' | translate}}
					<strong>{{Constants.formatDate(class.LiveSessions[class.CurrentIndex].StartDate)}}</strong>
					<div>
						{{ 'Courses.sessions' | translate }}: #{{class.NumberOfSessions}}
						<a class="show-sessions" (click)="showSessions($event, i)"
							>{{class.ShowSessions ? ('Courses.hideSessions' | translate) : ('Courses.showSessions' | translate)}}</a
						>
					</div>

					<ol *ngIf="class.ShowSessions" [@fadeInOut]>
						<li *ngFor="let occ of class.LiveSessions; index as i" class="session-instance" [ngClass]="{'done': i < class.CurrentIndex}">
							{{Constants.formatDate(occ.StartDate)}}
						</li>
					</ol>
				</div>
				<div class="middle-section">
					<div class="instructor">
						<!-- <span class="initials"> {{Constants.GetInitialName(class.Course.Instructor.User.FirstName, class.Course.Instructor.User.LastName)}} 	</span>
						<p>{{class.Course.Instructor.User.FirstName + ' ' + class.Course.Instructor.User.LastName}}</p> -->
						<p>By: {{class.Course.Instructor.User.FirstName + ' ' + class.Course.Instructor.User.LastName}}</p>
					</div>

					<small>
						<ng-container *ngIf="!class.CurrentIndex">{{ 'Courses.startsOn' | translate }}</ng-container>
						<ng-container *ngIf="class.CurrentIndex">{{ 'Courses.startedOn' | translate }}</ng-container>
						{{class.StartDate | date: 'dd/MM/YYYY'}}
					</small>
				</div>
				<div class="lower-section">
					<app-StarRating
						[Rate]="getRatingForCourse(class.CourseId)"
						[ReadOnly]="RatingReadOnly"
						(RateChange)="onRateChange($event,class.CourseId)"></app-StarRating>
					<span>
						<i class="fa fa-usd" aria-hidden="true"></i>
						<small class="ps-2">{{class.Course.Price || '0'}}</small>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
