<div class="page-inner">
	<h1>{{ 'Notifications.title' | translate }}</h1>
	<div class="page-section">
		<div class="page-section" *ngIf="!IsLoaded">
			<app-loader></app-loader>
		</div>
		<div class="page-container" *ngIf="IsLoaded">
			<div *ngFor="let notification of Notifications; index as i" class="notification-item">
				<div class="item-text" [id]="notification.Id">
					<span *ngIf="!notification.IsRead" class="new-item-indicator"></span>
					{{i+1}}){{notification.Text}}
				</div>
				<span>{{notification.CreatedOn | date: 'dd/MM/YYYY hh:mm' }}</span>
			</div>
			<a href="javascript:;" (click)="viewMore()">{{ 'Notifications.ViewMore' | translate }}</a>
		</div>
	</div>
</div>

