<div class="account-bg">
	<div class="account">
		<div class="account-box">
			<div class="account-box-bg"></div>
			<div class="login-title">
				<div class="sub-title">{{'Login.LogInToYourAccount'| translate}}</div>
			</div>

			<form class="login-form" (ngSubmit)="Login(frm)" name="form" #frm="ngForm" [ngClass]="{ 'form-submitted': frm.submitted }" novalidate>
				<div class="form-group" [ngClass]="{ 'invalid-data': Email.invalid }">
					<label for="Email">{{'Login.Email'| translate}}</label>
					<div class="input-icon">
						<i class="fa fa-user left"></i>
						<input
							type="text"
							class="form-control"
							id="Email"
							name="Email"
							[(ngModel)]="Credentials.Email"
							#Email="ngModel"
							placeholder="{{'Login.Email'| translate}}"
							required />
					</div>
				</div>

				<div class="form-group" [ngClass]="{ 'invalid-data': Password.invalid }">
					<label for="Password">{{'Login.Password'| translate}}</label>
					<div class="input-icon">
						<i class="fa fa-lock left"></i>
						<i class="fa fa-eye right" *ngIf="!showPW" (click)="toggleShowPW()"></i>
						<i class="fa fa-eye-slash right" *ngIf="showPW" (click)="toggleShowPW()"></i>
						<input
							[type]="PWInputType"
							class="form-control"
							id="Password"
							name="Password"
							[(ngModel)]="Credentials.Password"
							#Password="ngModel"
							placeholder="{{'Login.Password'| translate}}"
							required />
					</div>
				</div>
				<div [ngClass]="{ 'invalid-data': Error }">
					<div class="invalid-message pb-2">{{Error}}</div>
				</div>

				<div class="d-grid">
					<button type="submit" class="btn btn-primary">{{'Login.Login'| translate}}</button>
				</div>
				<div class="text-center">
					{{ 'Login.DontHaveAccount' | translate }}
					<a [routerLink]="['/',RoutePaths.Register]" routerLinkActive="router-link-active">{{'Login.Register'| translate}}</a>
				</div>
				<div class="text-center mb-2">{{ 'Login.Or' | translate }}</div>
				<asl-google-signin-button type="standard" logo_alignment="center" [locale]="locale"> </asl-google-signin-button>
				<!-- type="standard" size="large" shape="rectangular" text="continue_with" width="400" logo_alignment="center" -->
			</form>
		</div>
		<div class="copyright">{{'Login.Copyright' | translate}} © {{Year}}. {{'Login.AllRightsReserved'|translate}}</div>
	</div>
</div>
