textarea {
	resize: vertical;
}

label.required {
	&::before {
		content: '*';
		color: red;
		margin-inline-end: 0.2rem;
	}
}

.progress-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;

	.progress {
		height: 5px;
		width: 93%;
	}
}

.modal-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	i {
		margin-right: 5px;
	}

	.btn-outline-dark {
		margin-right: 5px;
	}

	.right-section.block {
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}
}
