<div class="modal-header">
	<h5 class="modal-title title" *ngIf="isEdit">Edit {{property}}</h5>
	<h5 class="modal-title title" *ngIf="!isEdit">Add {{property}}</h5>
	<button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div [ngSwitch]="property">
	<div class="modal-body" *ngSwitchCase="ModalPropertyEnum.Class">
		<div class="mb-3">
			<label for="capacity" class="form-label">Capacity</label>
			<input type="number" class="form-control" id="capacity" name="capacity" [(ngModel)]="NewClass.MaxCapacity" #capacity="ngModel" />
		</div>
		<div class="mb-3">
			<label for="start" class="form-label">Starts In</label>
			<input type="date" class="form-control" id="start" name="startDate" [(ngModel)]="NewClass.StartDate" #startDate="ngModel" />
		</div>
		<div class="mb-3">
			<label for="end" class="form-label">Ends In</label>
			<input type="date" class="form-control" id="end" name="endDate" [(ngModel)]="NewClass.EndDate" #endDate="ngModel" />
		</div>
		<div class="mb-3">
			<label for="period" class="form-label">Period</label>
			<input type="text" class="form-control" id="period" name="period" [(ngModel)]="NewClass.Period" #period="ngModel" />
		</div>
		<div class="mb-3">
			<label for="currentIndex" class="form-label">Current Index</label>
			<input type="text" class="form-control" id="currentIndex" name="currentIndex" [(ngModel)]="NewClass.CurrentIndex" #currentIndex="ngModel" />
		</div>
	</div>
	<div class="modal-body" *ngSwitchCase="ModalPropertyEnum.Course">
		<div class="row mb-3">
			<div class="col">
				<label for="class" class="form-label">Name</label>
				<input type="text" class="form-control" id="class" name="Name" [(ngModel)]="NewCourse.Name" #Name="ngModel" />
			</div>
			<div class="col">
				<label for="price" class="form-label">Price</label>
				<input type="number" class="form-control" id="price" name="Price" [(ngModel)]="NewCourse.Price" #Price="ngModel" />
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<label for="start" class="form-label">Starts In</label>
				<input type="date" class="form-control" id="start" name="StartDate" [(ngModel)]="NewCourse.StartDate" #StartDate="ngModel" />
			</div>
			<div class="col">
				<label for="duration" class="form-label">Duration</label>
				<input type="number" class="form-control" id="duration" name="Duration" [(ngModel)]="NewCourse.Duration" #Duration="ngModel" />
			</div>
		</div>
		<div class="row mb-3">
			<div class="col">
				<label for="videopath" class="form-label">Video Url</label>
				<input type="text" class="form-control" id="videopath" name="VideoPath" [(ngModel)]="NewCourse.VideoPath" #VideoPath="ngModel" />
			</div>
			<div class="col">
				<label for="image" class="form-label">Image Url</label>
				<input type="text" class="form-control" id="image" name="ImageUrl" [(ngModel)]="NewCourse.ImageUrl" #ImageUrl="ngModel" />
			</div>
		</div>
		<div class="mb-3">
			<label for="filepath" class="form-label">File Path</label>
			<input type="file" class="form-control" id="filepath" name="FilePath" [(ngModel)]="NewCourse.FilePath" #FilePath="ngModel" />
		</div>
		<div class="mb-3">
			<label for="description" class="form-label">Description</label>
			<textarea class="form-control" id="description" rows="2" name="Description" [(ngModel)]="NewCourse.Description" #Description="ngModel"></textarea>
		</div>
		<div class="mb-3">
			<label for="prerequisite" class="form-label">Prerequisite</label>
			<textarea
				class="form-control"
				id="prerequisite"
				rows="2"
				Prerequisite="title"
				[(ngModel)]="NewCourse.Prerequisite"
				#Prerequisite="ngModel"></textarea>
		</div>
		<div class="mb-3">
			<label for="prerequisite" class="form-label">To Be Learned</label>
			<textarea class="form-control" id="prerequisite" rows="2" name="ToBeLearned" [(ngModel)]="NewCourse.ToBeLearned" #ToBeLearned="ngModel"></textarea>
		</div>
	</div>
	<div class="modal-body" *ngSwitchCase="ModalPropertyEnum.CourseInfo">
		<div class="mb-3">
			<label for="title" class="form-label">Name</label>
			<input type="text" class="form-control" id="title" name="title" [(ngModel)]="NewCourse.Name" #title="ngModel" />
		</div>
		<div class="mb-3">
			<label for="price" class="form-label">Price</label>
			<input type="text" class="form-control" id="price" name="price" [(ngModel)]="NewCourse.Price" #price="ngModel" />
		</div>
		<div class="mb-3">
			<label for="image" class="form-label">Image Url</label>
			<input type="text" class="form-control" id="image" name="image" [(ngModel)]="NewCourse.ImageUrl" #image="ngModel" />
		</div>
	</div>
	<div class="modal-body" *ngSwitchDefault>
		<div class="mb-3">
			<label for="dynamicProperty" class="form-label">{{property}}</label>
			<textarea class="form-control" id="property" rows="7" name="dynamicProperty" [(ngModel)]="DynamicValue" #dynamicProperty="ngModel"></textarea>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Close</button>
	<button type="button" class="btn btn-primary" [disabled]="IsDisabled" (click)="saveChanges()">Save</button>
</div>
