<div class="modal-header">
	<h5 class="modal-title title" *ngIf="isEdit">{{"DetailsModal.Edit" | translate}} {{('DetailsModal.'+ property) | translate}}</h5>
	<h5 class="modal-title title" *ngIf="!isEdit">{{"DetailsModal.Add" | translate}} {{('DetailsModal.'+ property) | translate}}</h5>
	<button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div [ngSwitch]="property">
	<form (ngSubmit)="onSubmit(frm)" name="form" id="form" #frm="ngForm" [ngClass]="{ 'form-submitted': frm.submitted }">
		<div class="modal-body" *ngSwitchCase="ModalPropertyEnum.Class">
			<div class="mb-3">
				<label for="name" class="form-label required">{{"DetailsModal.Name" | translate}}</label>
				<input type="text" class="form-control" id="name" name="name" [(ngModel)]="NewClass.Name" #name="ngModel" required />
			</div>
			<div class="row mb-3">
				<div class="col">
					<label for="capacity" class="form-label required">{{"DetailsModal.Capacity" | translate}}</label>
					<!-- m-0 for label -->
					<!-- <div class="form-text m-0">Maximum number of students to enroll.</div> -->
					<input type="number" class="form-control" id="capacity" name="capacity" [(ngModel)]="NewClass.MaxCapacity" #capacity="ngModel" required />
				</div>
				<div class="col">
					<label for="noOfSessions" class="form-label required">{{"DetailsModal.NumberOfSessions" | translate}}</label>
					<input
						type="number"
						class="form-control"
						id="noOfSessions"
						name="noOfSessions"
						[(ngModel)]="NewClass.NumberOfSessions"
						#noOfSessions="ngModel"
						required
						[disabled]="isEdit" />
				</div>
			</div>
			<div class="mb-3">
				<label for="start" class="form-label required">{{"DetailsModal.StartsOn" | translate}}</label>
				<input
					type="date"
					class="form-control"
					id="start"
					name="startDate"
					[min]="NewClass.StartDate"
					[(ngModel)]="NewClass.StartDate"
					#startDate="ngModel"
					required />
			</div>
			<!-- <div class="mb-3">
				<label for="end" class="form-label">Ends In</label>
				<input type="date" class="form-control" id="end" name="endDate" [(ngModel)]="NewClass.EndDate" #endDate="ngModel" />
			</div> -->
			<div class="row mb-3">
				<div class="d-flex justify-content-between align-items-end">
					<div>
						<label for="period" class="form-label required m-0">{{"DetailsModal.Schedule" | translate}}</label>
						<div class="form-text m-0">{{"DetailsModal.weekDayTime" | translate}}</div>
						<!-- <input type="text" class="form-control" id="period" name="period" [(ngModel)]="NewClass.Period" #period="ngModel" /> -->
					</div>
					<div class="" *ngIf="!isEdit">
						<i class="fa fa-plus btn-custom" aria-hidden="true" (click)="Classes.AddNewClassPeriod()"></i>
					</div>
				</div>
				<!-- start sessions settings -->
				<ng-container *ngIf="!isEdit">
					<div class="row mb-2" *ngFor="let period of NewClass.Period; index as i">
						<div class="col">
							<label for="dayOfWeek" class="form-label">{{"DetailsModal.DayOfWeek" | translate}}</label>
							<select class="form-select" id="dayOfWeek" name="dayOfWeek" (change)="Classes.onDayChange($event, i)" required>
								<option *ngFor="let day of daysOfWeek" [value]="day.Id" [selected]="day.Id==period.Day">{{ day.Name }}</option>
							</select>
						</div>

						<div class="col">
							<label for="timeOfDay" class="form-label">{{"DetailsModal.TimeOfDay" | translate}}</label>
							<input
								type="time"
								class="form-control"
								id="timeOfDay"
								name="timeOfDay"
								[value]="period.Time"
								(change)="Classes.onTimeChange($event, i)"
								required />
						</div>

						<div class="col">
							<label for="duration" class="form-label">{{"DetailsModal.Duration" | translate}}</label>
							<select class="form-select" id="duration" name="duration" (change)="Classes.onDurationChange($event, i)" required>
								<option *ngFor="let duration of SessionMinutes" [value]="duration.Name">{{ duration.Name }}</option>
							</select>
						</div>
					</div>
				</ng-container>
				<ng-container *ngIf="isEdit">
					<div class="row mb-4" *ngFor="let period of NewClass.LiveSessions; index as i">
						<div class="col">
							<label for="start" class="form-label">{{"DetailsModal.Session" | translate}} {{i+1}}:</label>
							<input
								type="date"
								class="form-control"
								id="start"
								name="startDate"
								[disabled]="period.IsCompleted"
								[value]="period.StartDateString"
								(change)="Classes.onDateChange($event, i)"
								required />
						</div>

						<div class="col">
							<label for="timeOfDay" class="form-label">{{"DetailsModal.TimeOfDay" | translate}}</label>
							<input
								type="time"
								class="form-control"
								id="timeOfDay"
								name="timeOfDay"
								[disabled]="period.IsCompleted"
								[value]="period.StartTimeString"
								(change)="Classes.onTimeChange($event, i)"
								required />
						</div>

						<div class="col">
							<label for="link" class="form-label">{{"DetailsModal.Link" | translate}}</label>
							<input
								type="text"
								class="form-control"
								id="link"
								name="link"
								[disabled]="period.IsCompleted"
								[value]="period.Link"
								(change)="Classes.onLinkChange($event, i)"
								required />
						</div>
					</div>
				</ng-container>
				<!-- end sessions settings -->
			</div>
			<!-- <div class="mb-3">
				<label for="currentIndex" class="form-label">Current Index</label>
				<input type="text" class="form-control" id="currentIndex" name="currentIndex" [(ngModel)]="NewClass.CurrentIndex" #currentIndex="ngModel" />
			</div> -->
			<div class="row mb-3">
				<div class="col">
					<div class="form-check">
						<input
							class="form-check-input"
							type="checkbox"
							id="isActive"
							name="isActive"
							[checked]="NewClass.IsActive"
							[(ngModel)]="NewClass.IsActive"
							#isActive="ngModel" />
						<label class="form-check-label" for="isActive">{{"DetailsModal.Active" | translate}} </label>
					</div>
				</div>
				<div class="col">
					<div class="form-check">
						<input
							class="form-check-input"
							type="checkbox"
							id="hasFreeTrial"
							name="hasFreeTrial"
							[checked]="NewClass.HasFreeTrial"
							[(ngModel)]="NewClass.HasFreeTrial"
							#hasFreeTrial="ngModel" />
						<label class="form-check-label" for="hasFreeTrial">{{"DetailsModal.HasFreeTrial" | translate}} </label>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-body" *ngSwitchCase="ModalPropertyEnum.Course">
			<div class="row mb-3">
				<div class="col">
					<label for="class" class="form-label required">{{"DetailsModal.Name" | translate}}</label>
					<input type="text" class="form-control" id="class" name="Name" [(ngModel)]="NewCourse.Name" #Name="ngModel" required />
				</div>
				<div class="col">
					<label for="start" class="form-label">{{"DetailsModal.StartsOn" | translate}}</label>
					<input type="date" class="form-control" id="start" name="StartDate" [min]="Today" [(ngModel)]="NewCourse.StartDate" #StartDate="ngModel" />
				</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					<label for="price" class="form-label required">{{"DetailsModal.Price" | translate}}</label>
					<input type="number" class="form-control" id="price" name="Price" [(ngModel)]="NewCourse.Price" #Price="ngModel" />
				</div>
				<div class="col">
					<label for="PriceBeforeDiscount" class="form-label">{{"DetailsModal.PriceBeforeDiscount" | translate}}</label>
					<input
						type="number"
						class="form-control"
						id="PriceBeforeDiscount"
						name="PriceBeforeDiscount"
						[(ngModel)]="NewCourse.PriceBeforeDiscount"
						#PriceBeforeDiscount="ngModel" />
				</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					<label for="classType" class="form-label required">{{"DetailsModal.Type" | translate}}</label>
					<select
						class="form-select"
						id="courseType"
						name="CourseType"
						[(ngModel)]="NewCourse.TypeIdString"
						#CourseType="ngModel"
						required
						placeholder="Select the course type">
						<option *ngFor="let type of courseTypesValues; index as i" [value]="type">{{ courseTypes[i] }}</option>
					</select>
				</div>
				<div class="col">
					<label for="classLevel" class="form-label required">{{"DetailsModal.Level" | translate}}</label>
					<select
						class="form-select"
						id="courseLevel"
						name="CourseLevel"
						[(ngModel)]="NewCourse.LevelIdString"
						#CourseLevel="ngModel"
						required
						placeholder="Select the course level">
						<option *ngFor="let type of courseLevelsValues; index as i" [value]="type">{{ courseLevels[i] }}</option>
					</select>
				</div>
			</div>
			<div class="mb-3">
				<label for="videopath" class="form-label">{{"DetailsModal.VideoUrl" | translate}}</label>
				<input
					type="text"
					class="form-control"
					id="videopath"
					name="VideoPath"
					[placeholder]="'DetailsModal.VideoUrlPlaceholder' | translate"
					[(ngModel)]="NewCourse.VideoPath"
					#VideoPath="ngModel" />
			</div>
			<div class="mb-3">
				<label for="image" class="form-label m-0">{{"DetailsModal.CoverImage" | translate}}</label>
				<div class="form-text m-0">{{"DetailsModal.CoverImageDesc" | translate}}</div>
				<input type="file" accept="image/png, image/gif, image/jpeg" class="form-control" id="image" (change)="onImageChange($event)" />
				<div class="progress-container" *ngIf="ImageProgress.start">
					<div class="progress">
						<div
							class="progress-bar"
							[style.width]="ImageProgress.start + '%'"
							role="progressbar"
							[attr.aria-valuenow]="ImageProgress.start"
							aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
					<span>{{ImageProgress.start}}%</span>
				</div>
			</div>
			<div class="mb-3">
				<label for="filepath" class="form-label m-0">{{"DetailsModal.SampleFile" | translate}}</label>
				<div class="form-text m-0">{{"DetailsModal.SampleFileDesc" | translate}}</div>
				<input type="file" accept="application/pdf" class="form-control" id="filepath" (change)="onFileChange($event, true)" />
				<div class="progress-container" *ngIf="FileProgress.start">
					<div class="progress">
						<div
							class="progress-bar"
							f
							[style.width]="FileProgress.start + '%'"
							role="progressbar"
							[attr.aria-valuenow]="FileProgress.start"
							aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
					<span>{{FileProgress.start}}%</span>
				</div>
			</div>
			<div class="mb-3">
				<label for="filepath" class="form-label m-0">{{"DetailsModal.MainFile" | translate}}</label>
				<div class="form-text m-0">{{"DetailsModal.MainFileDesc" | translate}}</div>
				<input type="file" accept="application/pdf" class="form-control" id="filepath" (change)="onFileChange($event)" />
				<div class="progress-container" *ngIf="FileProgress.start">
					<div class="progress">
						<div
							class="progress-bar"
							f
							[style.width]="FileProgress.start + '%'"
							role="progressbar"
							[attr.aria-valuenow]="FileProgress.start"
							aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
					<span>{{FileProgress.start}}%</span>
				</div>
			</div>
			<div class="mb-3">
				<label for="description" class="form-label required">{{"DetailsModal.Description" | translate}}</label>
				<textarea
					class="form-control"
					id="description"
					rows="2"
					name="Description"
					[(ngModel)]="NewCourse.Description"
					#Description="ngModel"
					required></textarea>
			</div>
			<div class="mb-3">
				<label for="prerequisite" class="form-label">{{"DetailsModal.Prerequisite" | translate}}</label>
				<textarea
					class="form-control"
					id="prerequisite"
					rows="2"
					Prerequisite="title"
					[(ngModel)]="NewCourse.Prerequisite"
					name="Prerequisite"
					#Prerequisite="ngModel"></textarea>
			</div>
			<div class="mb-3">
				<label for="prerequisite" class="form-label">{{"DetailsModal.ToBeLearned" | translate}}</label>
				<textarea
					class="form-control"
					id="prerequisite"
					rows="2"
					name="ToBeLearned"
					[(ngModel)]="NewCourse.ToBeLearned"
					#ToBeLearned="ngModel"></textarea>
			</div>
			<div class="form-check">
				<input
					class="form-check-input"
					type="checkbox"
					id="active"
					name="isActive"
					[checked]="NewCourse.IsActive"
					[(ngModel)]="NewCourse.IsActive"
					#isActive="ngModel" />
				<label class="form-check-label" for="active"> {{"DetailsModal.Active" | translate}} </label>
			</div>
		</div>
		<div class="modal-body" *ngSwitchCase="ModalPropertyEnum.CourseInfo">
			<div class="row mb-3">
				<div class="col">
					<label for="title" class="form-label required">{{"DetailsModal.Name" | translate}}</label>
					<input type="text" class="form-control" id="title" name="title" [(ngModel)]="NewCourse.Name" #title="ngModel" required />
				</div>
				<div class="col">
					<label for="start" class="form-label required">{{"DetailsModal.StartsOn" | translate}}</label>
					<input
						type="date"
						class="form-control"
						id="start"
						name="startDate"
						[min]="Today"
						[max]="NewCourse.MaxStartDate"
						[(ngModel)]="NewCourse.StartDate"
						#startDate="ngModel"
						required />
					<div [ngClass]="{ 'invalid-data': DateError }" *ngIf="DateError">
						<div class="invalid-message pb-2">{{DateError}}</div>
					</div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					<label for="price" class="form-label required">{{"DetailsModal.Price" | translate}}</label>
					<input type="text" class="form-control" id="price" name="price" [(ngModel)]="NewCourse.Price" #price="ngModel" />
				</div>
				<div class="col">
					<label for="PriceBeforeDiscount" class="form-label">{{"DetailsModal.PriceBeforeDiscount" | translate}}</label>
					<input
						type="number"
						class="form-control"
						id="PriceBeforeDiscount"
						name="PriceBeforeDiscount"
						[(ngModel)]="NewCourse.PriceBeforeDiscount"
						#PriceBeforeDiscount="ngModel" />
				</div>
			</div>

			<div class="mb-3">
				<label for="image" class="form-label">{{"DetailsModal.CoverImage" | translate}}</label>
				<input type="file" accept="image/png, image/gif, image/jpeg" class="form-control" id="image" (change)="onImageChange($event)" />
				<div class="progress-container" *ngIf="ImageProgress.start">
					<div class="progress">
						<div
							class="progress-bar"
							[style.width]="ImageProgress.start + '%'"
							role="progressbar"
							[attr.aria-valuenow]="ImageProgress.start"
							aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
					<span>{{ImageProgress.start}}%</span>
				</div>
			</div>
			<div class="form-check">
				<input
					class="form-check-input"
					type="checkbox"
					id="isActive"
					name="isActive"
					[checked]="NewCourse.IsActive"
					[(ngModel)]="NewCourse.IsActive"
					#isActive="ngModel" />
				<label class="form-check-label" for="isActive"> {{"DetailsModal.Active" | translate}} </label>
			</div>
		</div>
		<div class="modal-body" *ngSwitchCase="ModalPropertyEnum.CourseMaterial">
			<div class="mb-3">
				<label for="filepath" class="form-label">{{"DetailsModal.MainFile" | translate}}</label>
				<input type="file" accept="application/pdf" class="form-control" id="filepath" (change)="onFileChange($event, false)" />
				<div class="progress-container" *ngIf="FileProgress.start">
					<div class="progress">
						<div
							class="progress-bar"
							[style.width]="FileProgress.start + '%'"
							role="progressbar"
							[attr.aria-valuenow]="FileProgress.start"
							aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
					<span>{{FileProgress.start}}%</span>
				</div>
			</div>
		</div>
		<div class="modal-body" *ngSwitchCase="ModalPropertyEnum.CourseSampleMaterial">
			<div class="mb-3">
				<label for="filepath" class="form-label">{{"DetailsModal.SampleFile" | translate}}</label>
				<input type="file" accept="application/pdf" class="form-control" id="filepath" (change)="onFileChange($event, true)" />
				<div class="progress-container" *ngIf="FileProgress.start">
					<div class="progress">
						<div
							class="progress-bar"
							[style.width]="FileProgress.start + '%'"
							role="progressbar"
							[attr.aria-valuenow]="FileProgress.start"
							aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
					<span>{{FileProgress.start}}%</span>
				</div>
			</div>
		</div>
		<div class="modal-body" *ngSwitchCase="ModalPropertyEnum.Video">
			<div class="mb-3">
				<label for="dynamicProperty" class="form-label mb-0">{{('DetailsModal.'+ property) | translate}}</label>
				<div class="form-text m-0 mb-2">{{"DetailsModal.VideoUrlPlaceholder" | translate}}</div>
				<textarea
					class="form-control"
					id="property"
					rows="7"
					name="dynamicProperty"
					placeholder="https://www.youtube.com/watch?v=[videoid]"
					[(ngModel)]="DynamicValue"
					#dynamicProperty="ngModel">
				</textarea>
			</div>
		</div>
		<div class="modal-body" *ngSwitchDefault>
			<div class="mb-3">
				<label for="dynamicProperty" class="form-label">{{('DetailsModal.'+ property) | translate}}</label>
				<textarea class="form-control" id="property" rows="7" name="dynamicProperty" [(ngModel)]="DynamicValue" #dynamicProperty="ngModel"></textarea>
			</div>
		</div>
		<div class="modal-body" [ngClass]="{ 'invalid-data': Error }" *ngIf="Error">
			<div class="invalid-message pb-2">{{Error}}</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<div class="left-section" *ngIf="property == ModalPropertyEnum.CourseInfo">
		<button type="button" class="btn btn-danger" (click)="Courses.deleteCourse()">
			<i class="fa fa-trash" aria-hidden="true"></i>{{"DetailsModal.DeleteCourse" | translate}}
		</button>
	</div>
	<div class="left-section" *ngIf="property == ModalPropertyEnum.Class && isEdit">
		<button type="button" class="btn btn-danger" (click)="Classes.deleteClass()">
			<i class="fa fa-trash" aria-hidden="true"></i>{{"DetailsModal.DeleteClass" | translate}}
		</button>
	</div>
	<div class="right-section" [ngClass]="(property == ModalPropertyEnum.CourseInfo || (property == ModalPropertyEnum.Class && isEdit))? '' : 'block'">
		<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">{{"DetailsModal.Close" | translate}}</button>
		<button type="submit" form="form" class="btn btn-primary" [disabled]="IsDisabled">{{"DetailsModal.Save" | translate}}</button>
	</div>
</div>
