.content {
	max-width: 650px;
	p {
		margin: 0;
	}
}

.page-section {
	align-items: flex-start !important;
}

.faq-section {
	padding: 40px 20px;
	background-color: #f9f9f9;

	.faq-section h2 {
		text-align: center;
		font-size: 36px;
		margin-bottom: 30px;
	}

	.faq {
		max-width: 800px;
		margin: 0 auto;
	}

	.faq-item {
		margin-bottom: 20px;
	}

	.faq-item h3 {
		font-size: 22px;
		color: #333;
		cursor: pointer;
		margin-bottom: 10px;
	}

	.faq-item p {
		font-size: 16px;
		color: #555;
		// display: none;
	}

	.faq-item.active p {
		display: block;
	}
}
/* Container for the form */

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

/* Style for the form */

.form-container {
	width: 100%;
	max-width: 400px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Create a grid for form controls */

.form-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

/* Adjust form elements */

.form-container {
	border: none;
	border-radius: 5px;
	box-shadow: none;
	&.form-group {
		margin-bottom: 15px;
		&.email {
			width: 100%;
		}
	}
}

/* Center the submit button */

.submit-button {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
textarea {
	resize: vertical;
}
