.content {
	max-width: 650px;
	p {
		margin: 0;
	}
}

.page-section {
	align-items: flex-start !important;
}

/* Container for the form */

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

/* Style for the form */

.form-container {
	width: 100%;
	max-width: 400px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Create a grid for form controls */

.form-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

/* Adjust form elements */

.form-container {
	border: none;
	border-radius: 5px;
	box-shadow: none;
	&.form-group {
		margin-bottom: 15px;
		&.email {
			width: 100%;
		}
	}
}

/* Center the submit button */

.submit-button {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
textarea {
	resize: vertical;
}
