<div class="right-section">
	<h6 class="title">{{ 'PasswordPage.title' | translate }}</h6>
	<form (ngSubmit)="onSubmit(frm)" name="form" #frm="ngForm" [ngClass]="{ 'form-submitted': frm.submitted }">
		<div class="mb-3">
			<label for="old-password" class="form-label"> {{ 'PasswordPage.oldPasswordLabel' | translate }} </label>
			<input
				[type]="PWInputType"
				class="form-control"
				id="old-password"
				placeholder="{{ 'PasswordPage.oldPasswordPlaceholder' | translate }}"
				name="oldPassword"
				[(ngModel)]="Password.OldPassword"
				#oldPassword="ngModel"
				required />
		</div>
		<div class="mb-3">
			<label for="new-password" class="form-label"> {{ 'PasswordPage.newPasswordLabel' | translate }} </label>
			<input
				[type]="PWInputType"
				class="form-control"
				id="new-password"
				placeholder="{{ 'PasswordPage.newPasswordPlaceholder' | translate }}"
				name="newPassword"
				[(ngModel)]="Password.NewPassword"
				#newPassword="ngModel"
				required />
		</div>
		<div class="mb-3">
			<label for="re-new-password" class="form-label"> {{ 'PasswordPage.reNewPasswordLabel' | translate }} </label>
			<input
				[type]="PWInputType"
				class="form-control"
				id="re-new-password"
				placeholder="{{ 'PasswordPage.reNewPasswordPlaceholder' | translate }}"
				name="reNewPassword"
				[(ngModel)]="Password.ReNewPassword"
				#reNewPassword="ngModel"
				required />
		</div>
		<div [ngClass]="{ 'invalid-data': Error }" *ngIf="Error">
			<div class="invalid-message pb-2">{{Error}}</div>
		</div>
		<div class="footer">
			<button type="button" class="btn btn-primary me-1" (click)="toggleShowPW()">
				{{ showPW ? ('PasswordPage.hidePasswords' | translate) : ('PasswordPage.showPasswords' | translate) }}
				<i class="fa fa-eye" *ngIf="!showPW"></i>
				<i class="fa fa-eye-slash" *ngIf="showPW"></i>
			</button>
			<button type="submit" class="btn btn-primary">{{ 'PasswordPage.save' | translate }}</button>
		</div>
	</form>
</div>
