::ng-deep {
	.language-popup {
		.popover-body {
			background-color: var(--primary-color3);
			color: var(--primary-font-color);
		}

		.popover-arrow::after {
			border-bottom-color: var(--primary-color3);
		}
	}
}
