<div class="page-inner">
	<app-loader *ngIf="!IsLoaded"></app-loader>
	<div *ngIf="IsLoaded">
		<div class="right-section">
			<h6 class="main-title">{{ 'ClassDetailsPage.dashboard' | translate }}</h6>
			<p class="sub-title">
				<a [routerLink]="['/',RoutePaths.Dashboard,RoutePaths.Courses]">{{ 'ClassDetailsPage.courses' | translate }}</a> &nbsp;>&nbsp;
				<a [routerLink]="['/',RoutePaths.Dashboard,RoutePaths.Courses,Class.Course.Id]">{{Class.Course.Name}}</a> &nbsp;>&nbsp;
				<a class="current">{{Class.Name}}</a>
			</p>
			<div class="card bg-dark text-white">
				<img
					*ngIf="Class.Course.ImageUrl"
					[src]="Class.Course.ImageUrl || '/assets/Images/white-full-logo.png'"
					class="card-img"
					alt="no image"
					height="275px" />
				<div *ngIf="!Class.Course.ImageUrl" class="card-img"></div>
				<div class="btn-header" (click)="openEditModal(ModalPropertyEnum.Class, '0')">
					<i class="fa fa-pencil-square-o btn-custom" aria-hidden="true"></i>
				</div>
				<div class="card-img-overlay">
					<h5 class="card-title">
						{{Class.Name}}
						<span class="status active" *ngIf="Class.IsActive" title="{{ 'ClassDetailsPage.active' | translate }}"
							><i class="fa fa-check" aria-hidden="true"></i
						></span>
						<span class="status inactive" *ngIf="!Class.IsActive" title="{{ 'ClassDetailsPage.inactive' | translate }}"
							><i class="fa fa-times" aria-hidden="true"></i
						></span>
					</h5>
					<p class="card-text" *ngIf="Class.Course.Price">${{Class.Course.Price}}</p>

					<div class="meta">
						<div class="starts">
							<p class="card-text">
								<span class="title">{{ 'ClassDetailsPage.starts' | translate }}:</span> {{Constants.formatDate(Class.StartDate)}}
							</p>
							<p class="card-text">
								<span class="title">{{ 'ClassDetailsPage.ends' | translate }}:</span> {{Constants.formatDate(Class.EndDate)}}
							</p>
						</div>

						<div class="create-update">
							<p class="card-text">
								<span class="title">{{ 'ClassDetailsPage.createdOn' | translate }}:</span> {{Constants.formatDate(Class.CreatedOn)}}
							</p>
							<p class="card-text">
								<span class="title">{{ 'ClassDetailsPage.lastUpdatedOn' | translate }}:</span> {{Constants.formatDate(Class.UpdatedOn)}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="group">
				<div class="sessions section">
					<div class="row-custom">
						<h6 class="title">{{ 'ClassDetailsPage.sessions' | translate }}</h6>
					</div>
					<p class="no-data" *ngIf="Class.LiveSessions.length == 0">{{ 'ClassDetailsPage.noLiveSessions' | translate }}</p>
					<div class="table-responsive">
						<table class="table table-striped table-hover" *ngIf="Class.LiveSessions.length != 0">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">{{ 'ClassDetailsPage.startDate' | translate }}</th>
									<th scope="col">{{ 'ClassDetailsPage.endDate' | translate }}</th>
									<th scope="col">{{ 'ClassDetailsPage.link' | translate }}</th>
									<th scope="col" class="text-center">{{ 'ClassDetailsPage.Completed' | translate }}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let session of Class.LiveSessions; let i = index" [ngClass]="{'completed': session.IsCompleted}">
									<th scope="row">{{i+1}}</th>
									<td>{{Constants.formatDate(session.StartDate)}}</td>
									<td>{{Constants.formatDate(session.EndDate)}}</td>
									<td>{{session.Link ?? 'N/A'}}</td>
									<td class="text-center">
										<i *ngIf="session.IsCompleted" class="fa fa-check"></i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="users section">
					<div class="row-custom">
						<h6 class="title">{{ 'ClassDetailsPage.users' | translate }}</h6>
					</div>
					<p class="no-data" *ngIf="Class.UserClasses?.length == 0">{{ 'ClassDetailsPage.noUsers' | translate }}</p>
					<div class="table-responsive">
						<table class="table table-striped table-hover" *ngIf="Class.UserClasses?.length != 0">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">{{ 'ClassDetailsPage.dp' | translate }}</th>
									<th scope="col">{{ 'ClassDetailsPage.firstName' | translate }}</th>
									<th scope="col">{{ 'ClassDetailsPage.lastName' | translate }}</th>
									<th scope="col">{{ 'ClassDetailsPage.email' | translate }}</th>
									<th scope="col">{{ 'ClassDetailsPage.birthDate' | translate }}</th>
									<th scope="col">{{ 'ClassDetailsPage.joinDate' | translate }}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let userClass of Class.UserClasses | slice:0:3; let i = index">
									<th scope="row">{{i+1}}</th>
									<td>
										<div class="profile-pic">
											<img
												[src]="userClass.User.ProfilePicturePath ? userClass.User.ProfilePicturePath : 'assets/Images/default-pp.png'" />
										</div>
									</td>
									<td>{{userClass.User.FirstName}}</td>
									<td>{{userClass.User.LastName}}</td>
									<td>{{userClass.User.Email}}</td>
									<td>{{userClass.User.Birthdate}}</td>
									<td>{{Constants.formatDate(userClass.CreatedAt)}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row-custom" *ngIf="Class.UserClasses.length > UsersCounter.end">
						<button class="btn btn-light" (click)="UsersCounter.end = UsersCounter.end + 3;">
							{{ 'ClassDetailsPage.loadMoreUsers' | translate }}
						</button>
					</div>
				</div>
				<div class="material section">
					<div class="row-custom">
						<h6 class="title">{{ 'ClassDetailsPage.material' | translate }}</h6>
						<small>{{ 'ClassDetailsPage.notAvailable' | translate }}</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
