<div class="page-inner bg-gradient-3">
	<div class="page-section" *ngIf="!IsLoaded">
		<app-loader></app-loader>
	</div>
	<div *ngIf="IsLoaded">
		<h1>{{Course.Name}}</h1>
		<div class="page-section no-min">
			<div class="partition content">
				<div *ngIf="IsJoinClass" class="classes" [@fadeInOut]>
					<h3>{{ 'CoursePage.classes' | translate }}</h3>
					<div *ngIf="Course.Classes.length == 0">{{ 'CoursePage.noClassesAdded' | translate }}</div>
					<div
						*ngFor="let class of Course.Classes; index as i"
						class="class-instance"
						(click)="SelectClass(class)"
						[ngClass]="{'selected-class': SelectedClass && class.Id == SelectedClass.Id}">
						<div class="title">
							<h3>
								{{class.Name}}
								<span class="status inactive" *ngIf="class.CurrentIndex">{{ 'CoursePage.started' | translate }}</span>
								<!-- <span class="status inactive" *ngIf="!class.IsActive">{{ 'CoursePage.inactive' | translate }}</span> -->
								<span class="status active" *ngIf="class.IsJoined">{{ 'joined' | translate }}</span>
								<span class="status free-trial" *ngIf="class.IsJoinedFreeTrial">{{ 'joined free trial' | translate }}</span>
							</h3>
							<span *ngIf="class.AvailableSlots <= 10 && !class.CurrentIndex" class="float-end text-1">
								{{'CoursePage.only' | translate}} {{class.AvailableSlots}} {{(class.AvailableSlots == 1 ? 'CoursePage.slot' :
								'CoursePage.slots') | translate}} {{'CoursePage.available' | translate}}
							</span>
						</div>
						<div *ngIf="!class.CurrentIndex">
							{{ 'CoursePage.startsOn' | translate: { date: class.LiveSessions[0].StartDate | date: 'dd/MM/YYYY' } }}
						</div>
						<div *ngIf="class.CurrentIndex">
							{{ 'CoursePage.startedOn' | translate: { date: class.LiveSessions[0].StartDate | date: 'dd/MM/YYYY' } }}
						</div>
						<button
							class="btn btn-primary me-2"
							(click)="JoinFreeTrial($event,class.Id)"
							*ngIf="class.HasFreeTrial && !class.IsJoinedFreeTrial && !class.IsJoined && !class.CurrentIndex">
							{{ 'CoursePage.freeTrialSession' | translate }}
						</button>
						<div>
							{{ 'CoursePage.sessions' | translate }}: #{{class.NumberOfSessions}}
							<a class="show-sessions" (click)="showSessions($event, i)">
								{{ class.ShowSessions ? ( 'CoursePage.hideSessions' | translate ) : ( 'CoursePage.showSessions' | translate ) }}
							</a>
						</div>

						<br />
						<ol *ngIf="class.ShowSessions" [@fadeInOut]>
							<li *ngFor="let occ of class.LiveSessions; index as i" class="session-instance" [ngClass]="{'done': i < class.CurrentIndex}">
								{{ occ.StartDate | date: 'EEEE, dd/MM/yyyy, hh:mm a' }}
							</li>
						</ol>
					</div>
					<hr />
				</div>

				<p [innerText]="Course.Description"></p>
				<h3>{{ 'CoursePage.whatYoullLearn' | translate }}</h3>
				<p [innerText]="Course.ToBeLearned"></p>
				<h3>{{ 'CoursePage.prerequisites' | translate }}</h3>
				<p [innerText]="Course.Prerequisite"></p>
			</div>
			<div class="partition image">
				<img *ngIf="!Course.VideoPath" [src]="Course.ImageUrl" alt="" />
				<iframe
					*ngIf="Course.VideoPath"
					[src]="'https://www.youtube.com/embed/' + Course.VideoPath.split('=')[1] | safe"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen>
				</iframe>
				<div class="instructor">{{Course.Instructor.User.FirstName + ' ' + Course.Instructor.User.LastName}}</div>
				<div class="rating">
					<span class="rate">{{Course.Rating}} </span>
					<app-StarRating [Rate]="Course.Rating" [ReadOnly]="true"></app-StarRating> ({{Course.Raters}})
				</div>
				<div class="price">{{Course.Price | currency}}</div>
				<button class="btn btn-primary me-2" (click)="JoinClass()" *ngIf="!IsJoinClass">{{ 'CoursePage.joinAClass' | translate }}</button>
				<button
					class="btn btn-primary me-2"
					(click)="AddToCart()"
					*ngIf="IsJoinClass"
					[disabled]="!SelectedClass || (SelectedClass.CurrentIndex && !SelectedClass.IsJoinedFreeTrial) || SelectedClass.IsJoined">
					{{ 'CoursePage.addToCart' | translate }}
				</button>
				<a class="btn btn-outline-primary" *ngIf="!IsJoinedClass && Course.FreeFilePath" (click)="downloadMaterial(Course.FreeFilePath, true)">
					{{ 'CoursePage.downloadFreeMaterial' | translate }}
					<i class="fa fa-download btn-custom"></i>
				</a>
				<a class="btn btn-outline-primary" *ngIf="IsJoinedClass && Course.FilePath" (click)="downloadMaterial(Course.FilePath)">
					{{ 'CoursePage.downloadFullMaterial' | translate }}
					<i class="fa fa-download btn-custom"></i>
				</a>
				<hr />
			</div>
		</div>
	</div>
</div>
