.page-inner {
	min-height: calc(100vh - var(--header-height));
	h1 {
		padding-inline-start: var(--page-inner-content-padding);
	}
	&.bg-gradient-3 {
		// background: var(--background-horizontal-gradient-180);
	}
	.page-section {
		align-items: flex-start;
		justify-content: space-between;
		.content {
			padding: var(--page-inner-content-padding);
			font-size: 14px;
			width: 100%;

			.classes {
				.class-instance {
					border-radius: 10px;
					padding: 0 20px;
					&:hover {
						// background-color: lightgray;
						cursor: default;
						// cursor: pointer;
						background-color: rgb(226 223 223);
					}
					&.selected-class {
						background-color: rgb(194, 194, 194);
					}
					.session-instance {
						&:hover {
						}

						&.done {
							text-decoration: line-through;
						}
					}

					.title {
						display: flex;
						align-items: center;
						justify-content: space-between;
					}

					.status {
						border-radius: 15px;
						font-size: 0.7rem;
						padding: 0.05rem 0.7rem;
						background-color: var(--active-color);
						margin-bottom: 8px;

						&.inactive {
							background-color: var(--inactive-color);
						}
						&.free-trial {
							background-color: var(--free-trial-color);
						}
					}

					.show-sessions {
						color: gray;
						font-size: 14px;
						cursor: pointer;
					}
				}
			}
		}
		.image {
			// flex-grow: 1;
			min-width: 400px;
			max-width: 600px;
			position: relative;
			// background-color: var(--primary-color3);
			// padding: 20px;
			// border-radius: 10px;
			// .fixed {
			// 	position: fixed;
			// }
			iframe,
			img {
				width: 100%;
				min-height: 250px;
			}
			img {
				max-width: 400px;
				object-fit: cover;
			}
		}
	}
}

@media (max-width: 576px) {
	.page-inner {
		.page-section {
			justify-content: space-around;
			.content {
				display: block;
				position: static;
				order: 2;
				padding: var(--page-inner-content-padding);
			}
			.graphics {
				min-width: auto;
				padding: 0;
			}
		}
	}
}
