<div class="page-inner">
	<!-- <app-loader *ngIf="!IsLoaded"></app-loader> -->
	<div class="page-section" *ngIf="true">
		<div class="left-section">
			<div class="list-group">
				<a [routerLink]="['/','dashboard','courses']" routerLinkActive="active" class="list-group-item list-group-item-action" aria-current="true">
					<i class="fa fa-th-large" aria-hidden="true"></i>
					<p>{{ 'DashboardPage.dashboard' | translate }}</p>
				</a>
			</div>
		</div>
		<div class="right-section">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
