<button type="button" class="icon-button" [ngbPopover]="notificationPopup" placement="bottom-end" container="body" popoverClass="notification-popup">
	<i class="fa fa-bell"></i>
	<span *ngIf="Notifications.length > 0" class="counter">{{ Notifications.length > 10 ? '10+' : Notifications.length}}</span>
</button>

<ng-template #notificationPopup>
	<div *ngFor="let notification of Notifications">
		<div>{{notification.Text}}</div>
		<hr />
	</div>
	<a [routerLink]="['/',RoutePaths.Notifications]">notification page</a>
</ng-template>
