<button
	type="button"
	class="icon-button"
	[ngbPopover]="notificationPopup"
	placement="bottom-end"
	container="body"
	popoverClass="notification-popup"
	(shown)="onPopoverOpen()"
	(hidden)="onPopoverClose()">
	<i class="fa fa-bell"></i>
	<span *ngIf="counter > 0" class="counter">{{ counter > 9 ? '9+' : counter}}</span>
</button>

<ng-template #notificationPopup>
	<a [routerLink]="['/',RoutePaths.Notifications]">{{ 'Notifications.ViewAll' | translate }}</a>
	<div *ngFor="let notification of Notifications">
		<div class="item-text-popup" [id]="notification.Id">
			<span *ngIf="!notification.IsRead" class="new-item-indicator"></span>
			{{formatNotificationText(notification.Text)}}
		</div>
		<hr />
	</div>

	<div *ngIf="Notifications.length == 0">{{ 'Notifications.noNew' | translate }}</div>
</ng-template>
