.right-section {
	.title {
		font-weight: 700;
		font-size: 1.1rem;
		margin-bottom: 1.25rem;
		letter-spacing: 0.35px;
	}

	.container {
		max-width: 900px;
		margin: 0 auto;
		padding: 20px;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
}
