<div class="page-inner">
	<!-- <app-loader *ngIf="!IsLoaded"></app-loader> -->
	<div class="page-section" *ngIf="true">
		<div class="left-section">
			<div class="list-group">
				<a [routerLink]="['/',RoutePaths.Profile, RoutePaths.EditProfile]" routerLinkActive="active" class="list-group-item list-group-item-action">
					<i class="fa fa-user" aria-hidden="true"></i>
					<p>{{ 'ProfilePage.editProfile' | translate }}</p>
				</a>
				<a
					[routerLink]="['/',RoutePaths.Profile, RoutePaths.EditNotifications]"
					routerLinkActive="active"
					class="list-group-item list-group-item-action">
					<i class="fa fa-bell" aria-hidden="true"></i>
					<p>{{ 'ProfilePage.editNotifications' | translate }}</p>
				</a>
				<a
					*ngIf="!currentUser.IsSocial"
					[routerLink]="['/',RoutePaths.Profile, RoutePaths.EditPassword]"
					routerLinkActive="active"
					class="list-group-item list-group-item-action">
					<i class="fa fa-unlock-alt" aria-hidden="true"></i>
					<p>{{ 'ProfilePage.password' | translate }}</p>
				</a>
			</div>
		</div>
		<div class="right-section">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
