.card {
	height: 100%;
	background-color: var(--secondary-bg-color);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	.card-title {
		display: flex;
		gap: 10px;

		img {
			max-height: 30px;
			max-width: 30px;
			object-fit: cover;
			border-radius: 50%;
		}
	}
	.card-body {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.course {
			display: flex;
		}
	}
}
