.card {
	height: 100%;
	background-color: var(--primary-color3);
	img {
		max-height: 120px;
		max-width: 120px;
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: 50%;
		margin: auto;
		padding: 10px;
	}
	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
