<div class="right-section">
	<h6 class="title">Reset Password</h6>
	<form (ngSubmit)="onSubmit(frm)" name="form" #frm="ngForm" [ngClass]="{ 'form-submitted': frm.submitted }">
		<div class="mb-3">
			<label for="first-name" class="form-label">Enter old password</label>
			<input
				[type]="PWInputType"
				class="form-control"
				id="first-name"
				placeholder="Old Password"
				name="oldPassword"
				[(ngModel)]="Password.OldPassword"
				#oldPassword="ngModel"
				required />
		</div>
		<div class="mb-3">
			<label for="first-name" class="form-label">Enter new password</label>
			<input
				[type]="PWInputType"
				class="form-control"
				id="first-name"
				placeholder="New password"
				name="newPassword"
				[(ngModel)]="Password.NewPassword"
				#newPassword="ngModel"
				required />
		</div>
		<div class="mb-3">
			<label for="last-name" class="form-label">Re-enter password</label>
			<input
				[type]="PWInputType"
				class="form-control"
				id="last-name"
				placeholder="New Password"
				name="reNewPassword"
				[(ngModel)]="Password.ReNewPassword"
				#reNewPassword="ngModel"
				required />
		</div>
		<div [ngClass]="{ 'invalid-data': Error }" *ngIf="Error">
			<div class="invalid-message pb-2">{{Error}}</div>
		</div>
		<div class="footer">
			<button type="button" class="btn btn-primary me-1" (click)="toggleShowPW()">
				{{showPW ? 'Hide Passwords': 'Show Passwords'}}
				<i class="fa fa-eye" *ngIf="!showPW"></i>
				<i class="fa fa-eye-slash" *ngIf="showPW"></i>
			</button>
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>
</div>
