<div class="page-inner" id="home-page">
	<section class="page-section landing">
		<div class="img-container">
			<img
				src="https://learningpolicyinstitute.org/sites/default/files/styles/facebook/public/teaser-images/Ed_Learning_for_SoLD_Site-Teaser-920x513.jpg?h=d012c590&itok=kyNvb_Xj"
				alt=""
				class="bg-img" />
			<div class="overlay"></div>
		</div>
		<div class="titles m-5">
			<!-- <h1>{{ 'HomePage.welcomeTitle' | translate }}</h1>
			<p>{{ 'HomePage.welcomeParagraph' | translate }}</p> -->
			<h1 class="main-title mb-2">{{ 'HomePage.landing.title' | translate }}</h1>
			<p class="subtitle">{{ 'HomePage.landing.subTitle' | translate }}</p>
			<div class="search-bar mb-2">
				<input
					type="text"
					class="form-control"
					id="courseSearchTextInput"
					name="courseSearchTextInput"
					[(ngModel)]="courseSearchText"
					#courseSearchTextInput="ngModel"
					placeholder="{{ 'HomePage.landing.searchCourses' | translate }}"
					(keydown.enter)="searchInCourses()" />
				<button class="btn btn-primary" (click)="searchInCourses()"><i class="fa fa-search"></i></button>
			</div>
			<div class="action-btns">
				<a [routerLink]="['/',RoutePaths.About]" class="btn btn-outline-primary me-2">{{ 'HomePage.landing.learnMoreButton' | translate }}</a>
				<a [routerLink]="['/',RoutePaths.Courses]" class="btn btn-primary">{{ 'HomePage.landing.exploreCoursesButton' | translate }}</a>
			</div>
		</div>
		<!-- <img src="assets/Images/laptop.svg" alt="" class="image" /> -->
		<!-- <div class="partition graphics">
			<app-landing-laptop></app-landing-laptop>
		</div> -->
		<span class="scroll"> <i class="fa fa-arrow-down"></i> {{ 'Scroll down' | translate }} </span>
	</section>

	<!-- <div class="page-section no-min column offer">
		<h1 class="text-center">{{ 'HomePage.weOfferTitle' | translate }}</h1>
		<div class="sub-section">
			<div class="offer-card">
				<img src="assets/Images/offers/icon 1.png" alt="" />
				<div class="body">
					<h5 class="title">{{ 'HomePage.live sessions' | translate }}</h5>
					<p class="text">{{ 'HomePage.customizedCoursesText' | translate }}</p>
				</div>
			</div>
			<div class="offer-card">
				<img src="assets/Images/offers/icon 2.png" alt="" />
				<div class="body">
					<h5 class="title">{{ 'HomePage.recorded customized courses ' | translate }}</h5>
					<p class="text">{{ 'HomePage.privateLessonsText' | translate }}</p>
				</div>
			</div>
			<div class="offer-card">
				<img src="assets/Images/offers/icon 3.png" alt="" />
				<div class="body">
					<h5 class="title">{{ 'HomePage.activeLearningTitle' | translate }}</h5>
					<p class="text">{{ 'HomePage.activeLearningText' | translate }}</p>
				</div>
			</div>
		</div>
	</div>
	<hr class="bg-3" /> -->

	<section class="what-we-offer">
		<h2>{{ 'HomePage.whatWeOffer.title' | translate }}</h2>
		<p [innerHTML]="'HomePage.whatWeOffer.subTitle' | translate"></p>

		<div class="course-types">
			<div class="course-card">
				<div class="icon">
					<i class="fa fa-book" aria-hidden="true"></i>
				</div>
				<h3>{{ 'HomePage.whatWeOffer.liveSessions_title' | translate }}</h3>
				<p>{{ 'HomePage.whatWeOffer.liveSessions_paragraph' | translate }}</p>
			</div>
			<div class="course-card coming-soon-badge">
				<div class="icon">
					<i class="fa fa-graduation-cap" aria-hidden="true"></i>
				</div>
				<h3>{{ 'HomePage.whatWeOffer.recordedSessions_title' | translate }}</h3>
				<p>{{ 'HomePage.whatWeOffer.recordedSessions_paragraph' | translate }}</p>
			</div>
		</div>
	</section>

	<section class="why-us">
		<div>
			<h3>{{ 'HomePage.whyUs.title' | translate }}</h3>
			<ul>
				<li [innerHTML]="'HomePage.whyUs.reason1' | translate"></li>
				<li [innerHTML]="'HomePage.whyUs.reason2' | translate"></li>
				<li [innerHTML]="'HomePage.whyUs.reason3' | translate"></li>
				<li [innerHTML]="'HomePage.whyUs.reason4' | translate"></li>
				<li [innerHTML]="'HomePage.whyUs.reason5' | translate"></li>
			</ul>
		</div>
		<div class="cta">
			<p>
				{{ 'HomePage.whyUs.ctaP_a' | translate }}
				<a [routerLink]="['/',RoutePaths.Courses]" class="browse-link">{{ 'HomePage.whyUs.ctaP_link' | translate }}</a>
				{{ 'HomePage.whyUs.ctaP_b' | translate }}
			</p>
		</div>
	</section>

	<section class="testimonials">
		<h2>{{ 'HomePage.testimonials.title' | translate }}</h2>
		<!-- <div class="testimonial-cards">
			<div class="testimonial-card">
				<p>
					"Chehabi Academy has been a game-changer for me. The recorded courses allowed me to learn at my own pace, and the live sessions gave me the
					confidence to speak German fluently. I highly recommend it!"
				</p>
				<h4>- Sarah M., German Course Student</h4>
			</div>
		</div> -->
		<div class="feedbacks">
			<div class="feedback" *ngFor="let feedback of Feedbacks">
				<app-feedback-card [Feedback]="feedback"></app-feedback-card>
			</div>
		</div>
		<p class="supporting-text">
			{{ 'HomePage.testimonials.ctaP_a' | translate }}
			<a [routerLink]="['/',RoutePaths.Feedback]" class="faq-link">{{ 'HomePage.testimonials.ctaP_link' | translate }}</a>
		</p>
	</section>

	<!-- <div class="page-section no-min new">
		<h1 class="text-center bg-3">{{ 'HomePage.whatsNewTitle' | translate }}</h1>
		<div class="sub-section">
			<div class="graphics">
				<ngb-carousel *ngIf="WhatsNew && WhatsNew.length > 0">
					<ng-template ngbSlide *ngFor="let news of WhatsNew">
						<div class="picsum-img-wrapper">
							<img [src]="news.PicturePath" alt="Random first slide" />
						</div>
						<div class="carousel-caption">
							<h3>{{ news.Title }}</h3>
							<p>{{ news.Text }}</p>
						</div>
					</ng-template>
				</ngb-carousel>
			</div>
			<div class="content">
				<h1>{{ 'HomePage.latestNewsTitle' | translate }}</h1>
				<p>{{ 'HomePage.latestNewsText' | translate }}</p>
			</div>
		</div>
	</div> 

	<hr />-->

	<section class="page-section no-min about">
		<div class="partition graphics">
			<img src="assets/Images/landing-people.png" alt="" class="image" />
		</div>
		<div class="partition content">
			<h1>{{ 'HomePage.about.title' | translate }}</h1>
			<p>{{ 'HomePage.about.paragraph' | translate }}</p>
			<div>
				<a class="btn btn-outline-primary me-2" [routerLink]="['/',RoutePaths.About]">{{ 'HomePage.about.learnMoreLink' | translate }}</a>
			</div>
		</div>
	</section>

	<section class="how-it-works">
		<h2>{{ 'HomePage.howItWorks.title' | translate }}</h2>
		<p>{{ 'HomePage.howItWorks.subTitle' | translate }}</p>

		<div class="steps">
			<div class="step" *ngFor="let step of steps">
				<img [src]="step.imgSrc" [alt]="step.alt" />
				<h3>{{ step.title | translate }}</h3>
				<p>{{ step.description | translate }}</p>
			</div>
		</div>
	</section>

	<section class="cta-section">
		<h2>{{ 'HomePage.ctaSection.title' | translate }}</h2>
		<p>
			{{ 'HomePage.ctaSection.introP_a' | translate }}
			<a [routerLink]="['/',RoutePaths.About]" class="faq-link">{{ 'HomePage.ctaSection.introP_link' | translate }}</a>
		</p>
		<p class="supporting-text">
			{{ 'HomePage.ctaSection.ctaP_a' | translate }}
			<a [routerLink]="['/',RoutePaths.Faq]" class="faq-link">{{ 'HomePage.ctaSection.ctaP_linka' | translate }}</a>
			{{ 'HomePage.ctaSection.ctaP_b' | translate }}
			<a [routerLink]="['/',RoutePaths.Contactus]" class="faq-link">{{ 'HomePage.ctaSection.ctaP_linkb' | translate }}</a>
			{{ 'HomePage.ctaSection.ctaP_c' | translate }}
		</p>
	</section>
</div>
