<div class="page-inner" id="home-page">
	<div class="page-section landing">
		<div class="partition content">
			<h1>{{ 'HomePage.welcomeTitle' | translate }}</h1>
			<p>{{ 'HomePage.welcomeParagraph' | translate }}</p>
			<div>
				<button class="btn btn-outline-primary me-2">{{ 'HomePage.learnMoreButton' | translate }}</button>
				<button class="btn btn-primary">{{ 'HomePage.joinNowButton' | translate }}</button>
			</div>
		</div>
		<div class="partition graphics">
			<!-- <img src="assets/Images/laptop.svg" alt="" class="image" /> -->
			<app-landing-laptop></app-landing-laptop>
		</div>
		<span class="scroll"> <i class="fa fa-arrow-down"></i> {{ 'Scroll down' | translate }} </span>
	</div>

	<h1 class="text-center">{{ 'HomePage.weOfferTitle' | translate }}</h1>

	<div class="page-section no-min column offer">
		<div class="sub-section">
			<div class="offer-card">
				<img src="assets/Images/offers/icon 1.png" alt="" />
				<div class="body">
					<h5 class="title">{{ 'HomePage.customizedCoursesTitle' | translate }}</h5>
					<p class="text">{{ 'HomePage.customizedCoursesText' | translate }}</p>
				</div>
			</div>
			<div class="offer-card">
				<img src="assets/Images/offers/icon 2.png" alt="" />
				<div class="body">
					<h5 class="title">{{ 'HomePage.privateLessonsTitle' | translate }}</h5>
					<p class="text">{{ 'HomePage.privateLessonsText' | translate }}</p>
				</div>
			</div>
			<div class="offer-card">
				<img src="assets/Images/offers/icon 3.png" alt="" />
				<div class="body">
					<h5 class="title">{{ 'HomePage.activeLearningTitle' | translate }}</h5>
					<p class="text">{{ 'HomePage.activeLearningText' | translate }}</p>
				</div>
			</div>
		</div>
	</div>

	<hr class="bg-3" />
	<h1 class="text-center bg-3">{{ 'HomePage.whatsNewTitle' | translate }}</h1>

	<div class="page-section no-min new">
		<div class="graphics">
			<ngb-carousel *ngIf="WhatsNew && WhatsNew.length > 0">
				<ng-template ngbSlide *ngFor="let news of WhatsNew">
					<div class="picsum-img-wrapper">
						<img [src]="news.PicturePath" alt="Random first slide" />
					</div>
					<div class="carousel-caption">
						<h3>{{ news.Title }}</h3>
						<p>{{ news.Text }}</p>
					</div>
				</ng-template>
			</ngb-carousel>
		</div>
		<div class="content">
			<h1>{{ 'HomePage.latestNewsTitle' | translate }}</h1>
			<p>{{ 'HomePage.latestNewsText' | translate }}</p>
		</div>
	</div>

	<hr />
	<div class="page-section no-min about">
		<div class="partition graphics">
			<img src="assets/Images/landing-people.png" alt="" class="image" />
		</div>
		<div class="partition content">
			<h1>{{ 'HomePage.aboutAcademyTitle' | translate }}</h1>
			<p>{{ 'HomePage.aboutAcademyParagraph' | translate }}</p>
			<div>
				<a class="btn btn-outline-primary me-2" [routerLink]="['/',RoutePaths.About]">{{ 'HomePage.learnMoreLink' | translate }}</a>
			</div>
		</div>
	</div>
</div>
<!-- <h1>{{'coming-soon' | translate}}</h1> -->
