.page-inner {
	h1 {
		margin: 0;
	}
	.bg-3 {
		background-color: var(--primary-color3);
	}
	.page-section {
		justify-content: flex-start;
		gap: 50px;
		// border-bottom: 1px solid black;
		.graphics {
			// min-width: 200px;
			padding: 0 !important;
			transition: all 0.5s ease-out;
		}
		.sub-section {
			display: flex;
		}
		.scroll {
			position: absolute;
			bottom: 5px;
			width: 100%;
			text-align: center;
			opacity: 1;
			transition: opacity 0.3s ease-in-out;
			color: var(--primary-color1);
			i {
				animation: bounce 1.5s infinite;
			}
		}
		&.landing {
			position: relative;
			color: var(--primary-invert-font-color);
			.img-container {
				width: 100%;
				height: 70%;
				position: absolute;
				top: 50%;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 40px;
				overflow: hidden;
				transform: translateY(-50%);

				.bg-img {
					object-fit: cover;
					height: 100%;
					width: 100%;
				}

				.overlay {
					width: 100%;
					height: 100%;
					position: absolute;
					background-color: black;
					opacity: 0.4;
				}
			}
			.titles {
				width: 60%;
				z-index: 100;
				justify-content: space-between;
				// background-image: url('/assets/Images/pattern.png');
				// background-attachment: fixed;

				.search-bar {
					width: 60%;
					display: flex;
					input {
						padding: 0.5rem;
						border-radius: 5px;
						border: 1px solid gray;
						outline: none;
						width: 100%;
					}
				}
			}
		}
		&.new {
			padding: 20px;
			justify-content: space-around;
			flex-wrap: wrap;
			background: var(--background-horizontal-gradient-0);
			.graphics {
				.carousel {
					max-width: var(--carousel-width);
					img {
						// max-height: 120px;
						object-fit: cover;
						max-width: var(--carousel-width);
					}
				}
			}
			.content {
				max-width: 500px;
			}
		}
		&.about {
			padding: 40px;
			.graphics {
				align-self: flex-end;
				max-width: 500px;
				min-width: 350px;
			}
		}
	}

	.what-we-offer {
		padding: 40px;

		.course-types {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			gap: 30px;
		}

		.course-card {
			background-color: var(--secondary-bg-color);
			border-radius: 10px;
			box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
			padding: 30px;
			text-align: left;
			flex-basis: 45%;
			transition: transform 0.3s;

			&:hover {
				transform: translateY(-5px);
			}

			& .icon img {
				width: 50px;
				height: 50px;
				margin-bottom: 20px;
			}
		}
	}

	.why-us {
		padding: 40px;
		text-align: left;

		h3 {
			font-size: var(--font-size-2xl);
			margin-bottom: 20px;
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		li {
			font-size: var(--font-size-md);
			margin-bottom: 10px;
		}

		li strong {
			color: var(--primary-color1);
		}

		/* CTA Styles */
		.cta {
			margin-top: 40px;
		}

		.cta p {
			font-size: var(--font-size-lg);
			margin-bottom: 20px;
		}

		/* Responsive Styles */
		@media (max-width: 768px) {
			.course-types {
				flex-direction: column;
			}

			.course-card {
				flex-basis: 100%;
			}
		}
	}

	.testimonials {
		padding: 40px;
		border-radius: 10px;

		.feedbacks {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			.feedback {
				margin: 10px;
				width: 350px;
			}
		}
	}

	.how-it-works {
		padding: 40px;

		.steps {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			grid-auto-rows: minmax(300px, auto);
			grid-gap: 20px;

			.step {
				img {
					width: 100%;
					height: auto;
				}

				h3 {
					margin-top: 15px;
				}

				p {
					margin-top: 10px;
				}
			}
		}
	}

	.cta-section {
		padding: 40px;
		text-align: center;
		border-radius: 10px;

		.cta-section h2 {
			font-size: 32px;
			margin-bottom: 20px;
			color: #333;
		}

		.cta-section p {
			font-size: var(--font-size-md);
			color: #555;
			margin-bottom: 20px;
		}

		.cta-buttons {
			margin: 30px 0;
		}

		.cta-button {
			background-color: var(--primary-color1);
			color: var(--primary-font-color);
			text-decoration: none;
			padding: 12px 30px;
			border-radius: 5px;
			font-size: var(--font-size-md);
			margin: 0 10px;
			transition: background-color 0.3s;
		}

		.cta-button:hover {
			background-color: var(--primary-color1);
		}

		.supporting-text {
			font-size: var(--font-size-base);
			margin-top: 10px;
		}

		/* Responsive Styles for CTA Section */
		@media (max-width: 768px) {
			.cta-button {
				display: block;
				margin: 10px auto;
				width: 80%;
			}
		}
	}

	&.page-scrolled {
		.page-section {
			.scroll {
				opacity: 0;
			}
		}
	}
}

@media (max-width: 576px) {
	.page-inner {
		.page-section {
			&.landing {
				.content {
					padding: 50px;
					justify-content: center;
				}
			}
			&.landing,
			&.about {
				.graphics {
					display: none !important;
				}
			}
			&.new {
				.graphics {
					opacity: 1;
					.carousel {
						max-width: var(--carousel-sm-width);
						.carousel-caption {
							display: none;
						}
						img {
							max-width: var(--carousel-sm-width);
						}
					}
				}
				.content {
					display: block;
					position: static;
				}
			}
			&.about {
				.content {
					display: block;
					position: static;
				}
			}
			.scroll {
				bottom: 80px;
			}
		}

		.what-we-offer {
			.course-types {
				flex-direction: column;
			}
		}
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(-5px);
	}
	50% {
		transform: translateY(5px);
	}
}

hr {
	border: none;
	margin: 0;
	padding: 30px;
	opacity: 1;
}

@media (max-width: 1000px) {
	.page-inner {
		.page-section {
			&.landing {
				.graphics {
					transform: scale(0.7);
					transform-origin: left;
				}
			}
		}
	}
}

@media (max-width: 800px) {
	.page-inner {
		.page-section {
			&.landing {
				.graphics {
					transform: scale(0.5);
					transform-origin: left;
				}
			}
		}
	}
}
