<div class="right-section">
	<h6 class="title">{{ 'Cousrses.dashboard' | translate }}</h6>

	<div class="row-custom" *ngIf="CurrentUser.IsAdmin">
		<p class="sub-title">{{ 'Cousrses.courses' | translate }}</p>
		<button class="btn btn-primary" (click)="openModal(ModalPropertyEnum.Course)">
			<i class="fa fa-plus" aria-hidden="true"></i>
			{{ 'Cousrses.addNewCourse' | translate }}
		</button>
	</div>

	<div class="row-custom" *ngIf="!CurrentUser.IsAdmin">
		<p class="sub-title">{{ 'Cousrses.classes' | translate }}</p>
		<a class="btn btn-primary" [routerLink]="['/','courses']">{{ 'Cousrses.browseCourses' | translate }}</a>
	</div>

	<div class="courses-container row">
		<ng-container *ngIf="CurrentUser.IsAdmin">
			<app-loader *ngIf="!IsLoaded"></app-loader>
			<div class="card" *ngFor="let Course of Courses; let i = index" (click)="gotoCourse(Course.Id)">
				<div class="card-body">
					<div class="upper-section">
						<h5 class="card-title">{{Course.Name}}</h5>
						<span class="status active" *ngIf="Course.IsActive">{{ 'Cousrses.active' | translate }}</span>
						<span class="status inactive" *ngIf="!Course.IsActive">{{ 'Cousrses.inactive' | translate }}</span>
					</div>
					<p class="card-text">{{Course.Description}}</p>
					<div class="middle-section">
						<div class="instructor">
							<span class="initials">{{getInitials(Course.Instructor.User)}}</span>
							<p>{{Course.Instructor.User.FirstName + ' ' + Course.Instructor.User.LastName}}</p>
						</div>
						<small>{{Course.StartDate | date: 'dd/MM/YYYY'}}</small>
					</div>
					<div class="lower-section">
						<app-StarRating [Rate]="Course.Rating" [ReadOnly]="true"></app-StarRating>
						<span>
							<i class="fa fa-usd" aria-hidden="true"></i>
							<small class="ps-2">{{Course.Price || '0'}}</small>
						</span>
					</div>
				</div>
			</div>
		</ng-container>

		<ng-container *ngIf="!CurrentUser.IsAdmin">
			<app-loader *ngIf="!IsLoaded"></app-loader>
			<div class="card" *ngFor="let class of ClassesByUser; let i = index">
				<div class="card-body">
					<div class="upper-section">
						<h5 class="card-title">{{class.Name}}</h5>
						<span class="status active" *ngIf="class.IsActive">{{ 'Cousrses.active' | translate }}</span>
						<span class="status inactive" *ngIf="!class.IsActive">{{ 'Cousrses.inactive' | translate }}</span>
					</div>
					<div>
						{{ 'Cousrses.nextSession' | translate }}: "get next session using class's current index "
						<div>
							{{ 'Cousrses.sessions' | translate }}: {{class.NumberOfSessions}}
							<a class="show-sessions" (click)="showSessions($event, i)"
								>{{class.ShowSessions ? ('Cousrses.hideSessions' | translate) : ('Cousrses.showSessions' | translate)}}</a
							>
						</div>

						<ul *ngIf="class.ShowSessions" [@fadeInOut]>
							<li *ngFor="let occ of class.LiveSessions" class="session-instance">{{formatDate(occ.StartDate)}}</li>
						</ul>
					</div>
					<div class="middle-section">
						<div class="instructor">
							<span class="initials">{{getInitials(class.Course.Instructor.User)}}</span>
							<p>{{class.Course.Instructor.User.FirstName + ' ' + class.Course.Instructor.User.LastName}}</p>
						</div>
						<small>{{class.StartDate | date: 'dd/MM/YYYY'}}</small>
					</div>
					<div class="lower-section">
						<app-StarRating [Rate]="class.Course.Rating" [ReadOnly]="true"></app-StarRating>
						<span>
							<i class="fa fa-usd" aria-hidden="true"></i>
							<small class="ps-2">{{class.Course.Price || '0'}}</small>
						</span>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</div>
