<div class="right-section">
	<h6 class="title">Dashboard</h6>
	<div class="row-custom" *ngIf="CurrentUser.IsAdmin">
		<p class="sub-title">Courses</p>
		<button class="btn btn-primary" (click)="openModal(ModalPropertyEnum.Course)">
			<i class="fa fa-plus" aria-hidden="true"></i>
			Add new course
		</button>
	</div>
	<div class="row-custom" *ngIf="!CurrentUser.IsAdmin">
		<p class="sub-title">Classes</p>
		<a class="btn btn-primary" [routerLink]="['/','courses']"> browse Courses </a>
	</div>
	<div class="courses-container row">
		<ng-container *ngIf="CurrentUser.IsAdmin">
			<app-loader *ngIf="!IsLoaded"></app-loader>
			<div class="card" *ngFor="let Course of Courses; let i = index" (click)="gotoCourse(Course.Id)">
				<div class="card-body">
					<div class="upper-section">
						<h5 class="card-title">{{Course.Name}}</h5>
						<span class="status active" *ngIf="Course.IsActive">Active</span>
						<span class="status inactive" *ngIf="!Course.IsActive">Inactive</span>
					</div>
					<p class="card-text">{{Course.Description}}</p>
					<div class="middle-section">
						<div class="instructor">
							<span class="initials">{{getInitials(Course.Instructor.User)}}</span>
							<p>{{Course.Instructor.User.FirstName + ' ' + Course.Instructor.User.LastName}}</p>
						</div>
						<small>{{Course.StartDate | date: 'dd/MM/YYYY'}}</small>
					</div>
					<div class="lower-section">
						<span class="rating">
							<ng-container *ngFor="let i of [1,2,3,4,5]">
								<input type="radio" name="star" [id]="'star' + i" />
								<label [for]="'star' + i" (click)="changeRating($event, Course, i)">
									<i class="fa fa-star" aria-hidden="true" [style.color]="Course.Rating >= i ? 'orange' : 'gray'"></i
								></label>
							</ng-container>
						</span>
						<span>
							<i class="fa fa-usd" aria-hidden="true"></i>
							<small class="ps-2">{{Course.Price || '0'}}</small>
						</span>
					</div>
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="!CurrentUser.IsAdmin">
			<app-loader *ngIf="!IsLoaded"></app-loader>
			<div class="card" *ngFor="let class of ClassesByUser; let i = index" (click)="gotoCourse(class.Id)">
				<div class="card-body">
					<div class="upper-section">
						<h5 class="card-title">{{class.LiveSessions}}</h5>
						<span class="status active" *ngIf="class.IsActive">Active</span>
						<span class="status inactive" *ngIf="!class.IsActive">Inactive</span>
					</div>
					<p class="card-text">{{class.Period}}</p>
					<div class="middle-section">
						<small>{{class.StartDate | date: 'dd/MM/YYYY'}}</small>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</div>
