.page-inner {
	.page-section {
		.buttons {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
		.page-container {
			padding-top: 50px;
		}
		.feedbacks {
			// background-image: url('/assets/Images/pattern.png');
			// background-attachment: fixed;
			// background: var(--background-horizontal-gradient-180);
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			.feedback {
				margin: 10px;
				width: 350px;
			}
		}
	}
}
