<footer>
	<div class="main">
		<img src="/assets/Images/white-full-logo.png" alt="{{'logo-alt' | translate}}" class="white-logo-img" />
		<ul class="list-inline">
			<li class="list-inline-item"><a [routerLink]="['/', RoutePaths.Home]">{{ 'home' | translate }}</a></li>
			<li class="list-inline-item"><a [routerLink]="['/', RoutePaths.Contactus]">{{ 'contact-us' | translate }}</a></li>
		</ul>

		<div class="social">
			<a href="#"> <i class="fa fa-instagram"></i></a>
			<a href="#"><i class="fa fa-youtube-play"></i></a>
			<a href="#"><i class="fa fa-twitter-square"></i></a>
			<a href="#"><i class="fa fa-facebook-square"></i></a>
		</div>
	</div>
	<div class="copyright">
		<div>© {{ Year }}, <a href="mailto:techwizzjoes@gmail.com">{{ 'CompanyEmail' | translate }}</a>.</div>
		<div class="ps-3">{{ 'all-rights-reserved' | translate }} <small>{{ 'version' | translate }} {{ ApplicationService.Version | async }}</small></div>
	</div>
</footer>
