<footer>
    <div class="main">
        <img src="/assets/white-full-logo.png" alt="logo-img" class="white-logo-img" />
        <ul class="list-inline">
            <li class="list-inline-item"><a [routerLink]="['/',RoutePaths.Home]">Home</a></li>
            <li class="list-inline-item"><a [routerLink]="['/',RoutePaths.Contactus]">Contact Us</a></li>
        </ul>

        <div class="social">
            <a href="#"> <i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-twitter-square"></i></a>
            <a href="#"><i class="fa fa-facebook-square"></i></a>
        </div>
    </div>
    <div class="copyright">
        <div>© {{Year}}, <a href="mailto:techwizzjoes@gmail.com">techwizzjoes@gmail.com</a>.</div>
        <div class="ps-3">All Rights Reserved.</div>
    </div>
</footer>